/*
Qovery API

- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider. - ℹ️ The API is stable and still in development.

API version: 1.0.4
Contact: support+api+documentation@qovery.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package qovery

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// GitRepositoriesAPIService GitRepositoriesAPI service
type GitRepositoriesAPIService service

type ApiListDirectoriesFromGitRepositoryRequest struct {
	ctx                             context.Context
	ApiService                      *GitRepositoriesAPIService
	organizationId                  string
	applicationGitRepositoryRequest *ApplicationGitRepositoryRequest
}

func (r ApiListDirectoriesFromGitRepositoryRequest) ApplicationGitRepositoryRequest(applicationGitRepositoryRequest ApplicationGitRepositoryRequest) ApiListDirectoriesFromGitRepositoryRequest {
	r.applicationGitRepositoryRequest = &applicationGitRepositoryRequest
	return r
}

func (r ApiListDirectoriesFromGitRepositoryRequest) Execute() (*ListDirectoriesFromGitRepository200Response, *http.Response, error) {
	return r.ApiService.ListDirectoriesFromGitRepositoryExecute(r)
}

/*
ListDirectoriesFromGitRepository List directories from a git repository

List immediate subdirectories at a specified path in a git repository.
This endpoint is used when creating Terraform services to help users browse
and select the appropriate root path.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@return ApiListDirectoriesFromGitRepositoryRequest
*/
func (a *GitRepositoriesAPIService) ListDirectoriesFromGitRepository(ctx context.Context, organizationId string) ApiListDirectoriesFromGitRepositoryRequest {
	return ApiListDirectoriesFromGitRepositoryRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return ListDirectoriesFromGitRepository200Response
func (a *GitRepositoriesAPIService) ListDirectoriesFromGitRepositoryExecute(r ApiListDirectoriesFromGitRepositoryRequest) (*ListDirectoriesFromGitRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListDirectoriesFromGitRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GitRepositoriesAPIService.ListDirectoriesFromGitRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/listDirectoriesFromGitRepository"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.applicationGitRepositoryRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
