/*
Qovery API

- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider. - ℹ️ The API is stable and still in development.

API version: 1.0.4
Contact: support+api+documentation@qovery.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package qovery

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ClusterDeploymentHistoryAPIService ClusterDeploymentHistoryAPI service
type ClusterDeploymentHistoryAPIService service

type ApiListClusterDeploymentHistoryV2Request struct {
	ctx            context.Context
	ApiService     *ClusterDeploymentHistoryAPIService
	organizationId string
	clusterId      string
	pageSize       *float32
}

// The number of deployments to return in the current page. Must be greater than or equal to 1
func (r ApiListClusterDeploymentHistoryV2Request) PageSize(pageSize float32) ApiListClusterDeploymentHistoryV2Request {
	r.pageSize = &pageSize
	return r
}

func (r ApiListClusterDeploymentHistoryV2Request) Execute() (*ClusterDeploymentHistoryPaginatedResponseListV2, *http.Response, error) {
	return r.ApiService.ListClusterDeploymentHistoryV2Execute(r)
}

/*
ListClusterDeploymentHistoryV2 List cluster deployments

List previous and current cluster deployment operations. It returns applied deployments and dry-runs; stop/delete operations are excluded. By default it returns the 20 last results. Use the pageSize query parameter to adjust the number of returned results

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@param clusterId Cluster ID
	@return ApiListClusterDeploymentHistoryV2Request
*/
func (a *ClusterDeploymentHistoryAPIService) ListClusterDeploymentHistoryV2(ctx context.Context, organizationId string, clusterId string) ApiListClusterDeploymentHistoryV2Request {
	return ApiListClusterDeploymentHistoryV2Request{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		clusterId:      clusterId,
	}
}

// Execute executes the request
//
//	@return ClusterDeploymentHistoryPaginatedResponseListV2
func (a *ClusterDeploymentHistoryAPIService) ListClusterDeploymentHistoryV2Execute(r ApiListClusterDeploymentHistoryV2Request) (*ClusterDeploymentHistoryPaginatedResponseListV2, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClusterDeploymentHistoryPaginatedResponseListV2
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ClusterDeploymentHistoryAPIService.ListClusterDeploymentHistoryV2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/cluster/{clusterId}/deploymentHistoryV2"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"clusterId"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "")
	} else {
		var defaultValue float32 = 20
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListClusterDeploymentLogsRequest struct {
	ctx            context.Context
	ApiService     *ClusterDeploymentHistoryAPIService
	organizationId string
	clusterId      string
	deploymentId   string
}

func (r ApiListClusterDeploymentLogsRequest) Execute() (*ClusterLogsResponseList, *http.Response, error) {
	return r.ApiService.ListClusterDeploymentLogsExecute(r)
}

/*
ListClusterDeploymentLogs List logs for a specific cluster deployment

List the logs of a specific cluster deployment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@param clusterId Cluster ID
	@param deploymentId Deployment ID
	@return ApiListClusterDeploymentLogsRequest
*/
func (a *ClusterDeploymentHistoryAPIService) ListClusterDeploymentLogs(ctx context.Context, organizationId string, clusterId string, deploymentId string) ApiListClusterDeploymentLogsRequest {
	return ApiListClusterDeploymentLogsRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		clusterId:      clusterId,
		deploymentId:   deploymentId,
	}
}

// Execute executes the request
//
//	@return ClusterLogsResponseList
func (a *ClusterDeploymentHistoryAPIService) ListClusterDeploymentLogsExecute(r ApiListClusterDeploymentLogsRequest) (*ClusterLogsResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ClusterLogsResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ClusterDeploymentHistoryAPIService.ListClusterDeploymentLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/cluster/{clusterId}/deployment/{deploymentId}/logs"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"clusterId"+"}", url.PathEscape(parameterValueToString(r.clusterId, "clusterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentId"+"}", url.PathEscape(parameterValueToString(r.deploymentId, "deploymentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
