/*
Qovery API

- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider. - ℹ️ The API is stable and still in development.

API version: 1.0.4
Contact: support+api+documentation@qovery.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package qovery

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SecretManagerAccessAPIService SecretManagerAccessAPI service
type SecretManagerAccessAPIService service

type ApiListSecretManagerAccessExternalSecretsRequest struct {
	ctx                   context.Context
	ApiService            *SecretManagerAccessAPIService
	secretManagerAccessId string
}

func (r ApiListSecretManagerAccessExternalSecretsRequest) Execute() (*ExternalSecretAssociatedServiceResponseList, *http.Response, error) {
	return r.ApiService.ListSecretManagerAccessExternalSecretsExecute(r)
}

/*
ListSecretManagerAccessExternalSecrets List external secrets used by a secret manager access

List external secrets used by a secret manager access

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param secretManagerAccessId Secret Manager Access ID
	@return ApiListSecretManagerAccessExternalSecretsRequest
*/
func (a *SecretManagerAccessAPIService) ListSecretManagerAccessExternalSecrets(ctx context.Context, secretManagerAccessId string) ApiListSecretManagerAccessExternalSecretsRequest {
	return ApiListSecretManagerAccessExternalSecretsRequest{
		ApiService:            a,
		ctx:                   ctx,
		secretManagerAccessId: secretManagerAccessId,
	}
}

// Execute executes the request
//
//	@return ExternalSecretAssociatedServiceResponseList
func (a *SecretManagerAccessAPIService) ListSecretManagerAccessExternalSecretsExecute(r ApiListSecretManagerAccessExternalSecretsRequest) (*ExternalSecretAssociatedServiceResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExternalSecretAssociatedServiceResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecretManagerAccessAPIService.ListSecretManagerAccessExternalSecrets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/secretManagerAccess/{secretManagerAccessId}/associatedServices"
	localVarPath = strings.Replace(localVarPath, "{"+"secretManagerAccessId"+"}", url.PathEscape(parameterValueToString(r.secretManagerAccessId, "secretManagerAccessId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListUpstreamSecretsFromSecretProviderRequest struct {
	ctx                   context.Context
	ApiService            *SecretManagerAccessAPIService
	secretManagerAccessId string
	namePrefix            *string
}

func (r ApiListUpstreamSecretsFromSecretProviderRequest) NamePrefix(namePrefix string) ApiListUpstreamSecretsFromSecretProviderRequest {
	r.namePrefix = &namePrefix
	return r
}

func (r ApiListUpstreamSecretsFromSecretProviderRequest) Execute() (*ProviderSecrets, *http.Response, error) {
	return r.ApiService.ListUpstreamSecretsFromSecretProviderExecute(r)
}

/*
ListUpstreamSecretsFromSecretProvider List upstream secrets from secret provider

List upstream secrets from secret provider

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param secretManagerAccessId Secret Manager Access ID
	@return ApiListUpstreamSecretsFromSecretProviderRequest
*/
func (a *SecretManagerAccessAPIService) ListUpstreamSecretsFromSecretProvider(ctx context.Context, secretManagerAccessId string) ApiListUpstreamSecretsFromSecretProviderRequest {
	return ApiListUpstreamSecretsFromSecretProviderRequest{
		ApiService:            a,
		ctx:                   ctx,
		secretManagerAccessId: secretManagerAccessId,
	}
}

// Execute executes the request
//
//	@return ProviderSecrets
func (a *SecretManagerAccessAPIService) ListUpstreamSecretsFromSecretProviderExecute(r ApiListUpstreamSecretsFromSecretProviderRequest) (*ProviderSecrets, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProviderSecrets
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecretManagerAccessAPIService.ListUpstreamSecretsFromSecretProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/secretManagerAccess/{secretManagerAccessId}/secrets"
	localVarPath = strings.Replace(localVarPath, "{"+"secretManagerAccessId"+"}", url.PathEscape(parameterValueToString(r.secretManagerAccessId, "secretManagerAccessId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.namePrefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namePrefix", r.namePrefix, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
