/*
Qovery API

- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider. - ℹ️ The API is stable and still in development.

API version: 1.0.3
Contact: support+api+documentation@qovery.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package qovery

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DeploymentQueueActionsAPIService DeploymentQueueActionsAPI service
type DeploymentQueueActionsAPIService service

type ApiCancelDeploymentRequestRequest struct {
	ctx                 context.Context
	ApiService          *DeploymentQueueActionsAPIService
	deploymentRequestId string
	body                *map[string]interface{}
}

func (r ApiCancelDeploymentRequestRequest) Body(body map[string]interface{}) ApiCancelDeploymentRequestRequest {
	r.body = &body
	return r
}

func (r ApiCancelDeploymentRequestRequest) Execute() (*http.Response, error) {
	return r.ApiService.CancelDeploymentRequestExecute(r)
}

/*
CancelDeploymentRequest Cancel deployment request

Cancel the a deployment request.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentRequestId
	@return ApiCancelDeploymentRequestRequest
*/
func (a *DeploymentQueueActionsAPIService) CancelDeploymentRequest(ctx context.Context, deploymentRequestId string) ApiCancelDeploymentRequestRequest {
	return ApiCancelDeploymentRequestRequest{
		ApiService:          a,
		ctx:                 ctx,
		deploymentRequestId: deploymentRequestId,
	}
}

// Execute executes the request
func (a *DeploymentQueueActionsAPIService) CancelDeploymentRequestExecute(r ApiCancelDeploymentRequestRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeploymentQueueActionsAPIService.CancelDeploymentRequest")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deploymentQueue/{deploymentRequestId}/cancelDeployment"
	localVarPath = strings.Replace(localVarPath, "{"+"deploymentRequestId"+"}", url.PathEscape(parameterValueToString(r.deploymentRequestId, "deploymentRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
