{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "[BETA] Qovery API",
    "description": "- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.\n- ℹ️ The API is in Beta and still in progress. Some endpoints are not available yet.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->",
    "contact": {
      "name": "Qovery Support Team",
      "url": "https://discord.qovery.com",
      "email": "support+api+documentation@qovery.com"
    },
    "x-logo": {
      "url": "https://raw.githubusercontent.com/Qovery/public-resources/master/qovery_new_logo_white.svg",
      "altText": "Qovery"
    }
  },
  "x-tagGroups": [
    {
      "name": "Organization",
      "tags": [
        "Organization Main Calls",
        "Projects",
        "Members",
        "Billing",
        "Clusters",
        "Cloud Provider",
        "Cloud Provider Credentials"
      ]
    },
    {
      "name": "Project",
      "tags": [
        "Project Main Calls",
        "Environments",
        "Project Deployment Rule",
        "Project Environment Variable",
        "Project Secret"
      ]
    },
    {
      "name": "Environment",
      "tags": [
        "Environment Main Calls",
        "Applications",
        "Databases",
        "Environment Actions",
        "Environment Logs",
        "Environment Deployment History",
        "Environment Deployment Rule",
        "Environment Variable",
        "Environment Secret"
      ]
    },
    {
      "name": "Application",
      "tags": [
        "Application Main Calls",
        "Application Actions",
        "Application Configuration",
        "Custom Domain",
        "Dependency",
        "Application Metrics",
        "Application Database",
        "Application Logs",
        "Application Deployment History",
        "Application Environment Variable",
        "Application Secret",
        "Application Event"
      ]
    },
    {
      "name": "Database",
      "tags": [
        "Database Main Calls",
        "Database Actions",
        "Database Metrics",
        "Database Applications",
        "Logical Database",
        "Database Application",
        "Backups",
        "Database Event"
      ]
    },
    {
      "name": "Account",
      "tags": [
        "Account Info",
        "Git repositories",
        "Referral & Rewards"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://api.qovery.com"
    }
  ],
  "paths": {
    "/organization": {
      "get": {
        "summary": "List user organizations",
        "operationId": "listOrganization",
        "tags": [
          "Organization Main Calls"
        ],
        "responses": {
          "200": {
            "description": "List organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Create an organization",
        "operationId": "createOrganization",
        "tags": [
          "Organization Main Calls"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Organization name is already taken"
          }
        }
      }
    },
    "/organization/{organizationId}": {
      "get": {
        "summary": "Get organization by ID",
        "operationId": "getOrganization",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Organization Main Calls"
        ],
        "responses": {
          "200": {
            "description": "Get organization by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit an organization",
        "description": "To edit an organization you must have the admin permission",
        "operationId": "editOrganization",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Organization Main Calls"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit an organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Organization name is already taken"
          }
        }
      },
      "delete": {
        "summary": "Delete an organization",
        "description": "To delete an organization you must have the admin permission",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Organization Main Calls"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/member": {
      "get": {
        "summary": "Get organization members",
        "operationId": "getOrganizationMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Members"
        ],
        "responses": {
          "200": {
            "description": "Get members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/member/{userId}": {
      "delete": {
        "summary": "Remove a member",
        "operationId": "deleteMember",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "tags": [
          "Members"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/inviteMember": {
      "get": {
        "summary": "Get invited members",
        "operationId": "getOrganizationInvitedMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Members"
        ],
        "responses": {
          "200": {
            "description": "Get invited members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteMemberResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Invite someone in the organization",
        "operationId": "postInviteMember",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Members"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User invited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteMemberResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "User already invited"
          }
        }
      }
    },
    "/organization/{organizationId}/inviteMember/{inviteId}": {
      "post": {
        "summary": "Accept Invite in the organization",
        "operationId": "postAcceptInviteMember",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "name": "inviteId",
            "in": "path",
            "description": "Invite ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "tags": [
          "Members"
        ],
        "responses": {
          "201": {
            "description": "User invited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteMemberResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "User already invited"
          }
        }
      },
      "delete": {
        "summary": "Remove an invited member",
        "operationId": "deleteInviteMember",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/paths/~1organization~1%7BorganizationId%7D~1inviteMember~1%7BinviteId%7D/post/parameters/1"
          }
        ],
        "tags": [
          "Members"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/transferOwnership": {
      "post": {
        "summary": "Transfer organization ownership to another user",
        "operationId": "postOrganizationTransferOwnership",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Members"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOwnershipRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/204"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/currentCost": {
      "get": {
        "summary": "Get organization current cost",
        "operationId": "getOrganizationCurrentCost",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Get Cost",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationCurrentCostResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/creditCode": {
      "post": {
        "summary": "Add credit code",
        "operationId": "addCreditCode",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreditCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "add credit code"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}/currentCost": {
      "get": {
        "summary": "Get cluster current cost",
        "operationId": "getClusterCurrentCost",
        "description": "Get your cluster cost range. We are unable to give a precise cost of your infrastructure at the moment.\nBut Qovery guarantees that the cost of your cluster will not exceed the max range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Get cluster cost",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostRangeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/billingInfo": {
      "get": {
        "summary": "Get organization billing info",
        "operationId": "getOrganizationBillingInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Get Billing Info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInfoResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit Organization Billing Info",
        "operationId": "editOrganizationBillingInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit billing info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInfoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/billingStatus": {
      "get": {
        "summary": "Get organization billing status",
        "description": "This endpoint returns a \"is_valid\" boolean field reflecting the billing status of the organization:\n- If true, the organization billing is valid\n- For Startup organization, it returns false if there is at least 1 invoice unpaid since 1 week\n- For Community organization, it returns false if there is no credit left\n",
        "operationId": "getOrganizationBillingStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Get Billing Status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/invoice": {
      "get": {
        "summary": "List organization invoices",
        "operationId": "listOrganizationInvoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "List Invoices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/invoice/{invoiceId}": {
      "get": {
        "summary": "Get organization invoice",
        "operationId": "getOrganizationInvoice",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/invoiceId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Get Invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/invoice/{invoiceId}/download": {
      "get": {
        "summary": "Get invoice link",
        "description": "This will return URL of the invoice PDF",
        "operationId": "getOrganizationInvoicePDF",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/invoiceId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Get invoice PDF",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/downloadInvoices": {
      "post": {
        "summary": "Download all invoices",
        "operationId": "organizationDownloadAllInvoices",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "202": {
            "description": "You will receive an email containing your invoices"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/creditCard": {
      "get": {
        "summary": "List organization credit cards",
        "operationId": "listOrganizationCreditCards",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "List cfredit cards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditCardResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Add credit card",
        "operationId": "addCreditCard",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditCardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Add credit card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditCardResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/creditCard/{creditCardId}": {
      "delete": {
        "summary": "Delete credit card",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/creditCardId"
          }
        ],
        "tags": [
          "Billing"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/project": {
      "get": {
        "summary": "List projects",
        "operationId": "listProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "List projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Create a project",
        "operationId": "createProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Project name within the organization is already taken"
          }
        }
      }
    },
    "/organization/{organizationId}/project/stats": {
      "get": {
        "summary": "List total number of services and environments for each project of the organization",
        "description": "Returns a list of project ids, and for each its total numberof services and environments",
        "operationId": "getOrganizationProjectStats",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Get number of services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectStatsResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster": {
      "get": {
        "summary": "List organization clusters",
        "operationId": "listOrganizationCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "List clusters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Create a cluster",
        "operationId": "createCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create cluster",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/status": {
      "get": {
        "summary": "List all clusters statuses",
        "description": "Returns a list of clusters with only their id and status.",
        "operationId": "getOrganizationClusterStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "Get statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterStatusResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}": {
      "delete": {
        "summary": "Delete a cluster",
        "operationId": "deleteCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit a cluster",
        "operationId": "editCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited the cluster",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}/status": {
      "get": {
        "summary": "Get cluster status",
        "operationId": "getClusterStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "Get status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}/routingTable": {
      "get": {
        "summary": "Get routing table",
        "description": "Retrieve network routing table where each line corresponds to a route between a destination and a target.",
        "operationId": "getRoutingTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "Routing table",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterRoutingTableResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit routing table",
        "description": "Edit routing table by returning updated table.",
        "operationId": "editRoutingTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterRoutingTableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Updated routing table",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterRoutingTableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/aws/credentials": {
      "get": {
        "summary": "List AWS credentials",
        "operationId": "listAWSCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "responses": {
          "200": {
            "description": "list credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Create AWS credentials set",
        "operationId": "createAWSCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credentials created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/aws/credentials/{credentialsId}": {
      "put": {
        "summary": "Edit a set of AWS credentials",
        "operationId": "editAWSCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/credentialsId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit a CustomDomain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Delete a set of AWS credentials",
        "operationId": "deleteAWSCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/credentialsId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/digitalOcean/credentials": {
      "get": {
        "summary": "List DO credentials",
        "operationId": "listDOCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "responses": {
          "200": {
            "description": "list credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Create Digital Ocean credentials set",
        "operationId": "createDOCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credentials created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/digitalOcean/credentials/{credentialsId}": {
      "put": {
        "summary": "Edit a set of Digital Ocean credentials",
        "operationId": "editDOCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/credentialsId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit a CustomDomain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Delete a set of Digital Ocean credentials",
        "operationId": "deleteDOCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/credentialsId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/scaleway/credentials": {
      "get": {
        "summary": "List Scaleway credentials",
        "operationId": "listScalewayCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "responses": {
          "200": {
            "description": "list credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Create Scaleway credentials set",
        "operationId": "createScalewayCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScalewayCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credentials created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/scaleway/credentials/{credentialsId}": {
      "put": {
        "summary": "Edit a set of Scaleway credentials",
        "operationId": "editScalewayCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/credentialsId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScalewayCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit a CustomDomain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "summary": "Delete a set of Scaleway credentials",
        "operationId": "deleteScalewayCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/credentialsId"
          },
          {
            "$ref": "#/components/parameters/organizationId"
          }
        ],
        "tags": [
          "Cloud Provider Credentials"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/cloudProvider": {
      "get": {
        "summary": "List Cloud providers available",
        "operationId": "listCloudProvider",
        "tags": [
          "Cloud Provider"
        ],
        "responses": {
          "200": {
            "description": "list cloud providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudProviderResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/aws/region": {
      "get": {
        "summary": "List AWS regions",
        "operationId": "listAWSRegions",
        "tags": [
          "Cloud Provider"
        ],
        "responses": {
          "200": {
            "description": "list regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterRegionResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/aws/clusterFeature": {
      "get": {
        "summary": "List AWS features available",
        "operationId": "listAWSFeatures",
        "tags": [
          "Cloud Provider"
        ],
        "responses": {
          "200": {
            "description": "list features available for AWS cloud provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterFeatureResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/digitalOcean/region": {
      "get": {
        "summary": "List DO regions",
        "operationId": "listDORegions",
        "tags": [
          "Cloud Provider"
        ],
        "responses": {
          "200": {
            "description": "list regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterRegionResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/digitalOcean/clusterFeature": {
      "get": {
        "summary": "List DO features available",
        "operationId": "listDOFeatures",
        "tags": [
          "Cloud Provider"
        ],
        "responses": {
          "200": {
            "description": "list features available for Digital Ocean cloud provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterFeatureResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/scaleway/region": {
      "get": {
        "summary": "List Scaleway regions",
        "operationId": "listScalewayRegions",
        "tags": [
          "Cloud Provider"
        ],
        "responses": {
          "200": {
            "description": "list regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterRegionResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/scaleway/clusterFeature": {
      "get": {
        "summary": "List Scaleway features available",
        "operationId": "listScalewayFeatures",
        "tags": [
          "Cloud Provider"
        ],
        "responses": {
          "200": {
            "description": "list features available for Scaleway cloud provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterFeatureResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}/cloudProviderInfo": {
      "get": {
        "summary": "Get cluster cloud provider info and credentials",
        "operationId": "getOrganizationCloudProviderInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "get cloud provider info and credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCloudProviderInfoResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Specify cluster cloud provider info and credentials",
        "operationId": "specifyClusterCloudProviderInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterCloudProviderInfoRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create cluster",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterCloudProviderInfoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}/isReady": {
      "get": {
        "summary": "Know if a cluster is ready to be deployed or not",
        "operationId": "getClusterReadinessStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "Get Cluster Readiness Status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterReadinessStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}/deploy": {
      "post": {
        "summary": "Deploy a cluster",
        "description": "allows to deploy a cluster",
        "operationId": "deployCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "201": {
            "description": "Deploy cluster",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}/update": {
      "post": {
        "summary": "Update a cluster Version",
        "description": "allows to update cluster version",
        "operationId": "UpdateCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "201": {
            "description": "Update cluster",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterStatusResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/organization/{organizationId}/cluster/{clusterId}/stop": {
      "post": {
        "summary": "Stop cluster",
        "description": "Cluster stop has been requester.",
        "operationId": "StopCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/organizationId"
          },
          {
            "$ref": "#/components/parameters/clusterId"
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "202": {
            "description": "Update cluster",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterStatusResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Cluster is already stopped or an operation is in progress"
          }
        }
      }
    },
    "/project/{projectId}": {
      "get": {
        "summary": "Get project by ID",
        "operationId": "getProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Main Calls"
        ],
        "responses": {
          "200": {
            "description": "Get project by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit a project",
        "description": "To edit a project you must have the admin permission",
        "operationId": "editProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Main Calls"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit a project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Project name within the organization is already taken"
          }
        }
      },
      "delete": {
        "summary": "Delete a project",
        "description": "To delete a project you must have the admin permission",
        "operationId": "deleteProject",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Main Calls"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/deploymentRule": {
      "get": {
        "summary": "List project deployment rules",
        "operationId": "listProjectDeploymentRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Deployment Rule"
        ],
        "responses": {
          "200": {
            "description": "Get deployment rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeploymentRuleResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Create a deployment rule",
        "operationId": "createDeploymentRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Deployment Rule"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectDeploymentRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create deployment rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeploymentRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/deploymentRule/{deploymentRuleId}": {
      "get": {
        "summary": "Get project deployment rule",
        "operationId": "getProjectDeploymentRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/deploymentRuleId"
          }
        ],
        "tags": [
          "Project Deployment Rule"
        ],
        "responses": {
          "200": {
            "description": "Get deployment rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeploymentRuleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit a project deployment rule",
        "operationId": "editProjectDeployemtnRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/deploymentRuleId"
          }
        ],
        "tags": [
          "Project Deployment Rule"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectDeploymentRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit a project deployment rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDeploymentRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Project name within the organization is already taken"
          }
        }
      },
      "delete": {
        "summary": "Delete a project deployment rule",
        "operationId": "deleteProjectDeploymentRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/deploymentRuleId"
          }
        ],
        "tags": [
          "Project Deployment Rule"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/environment": {
      "get": {
        "summary": "List environments",
        "operationId": "listEnvironment",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "List environments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Create an environment",
        "operationId": "createEnvironment",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Environments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Environment name within the project is already taken"
          }
        }
      }
    },
    "/project/{projectId}/environmentVariable": {
      "get": {
        "summary": "List project environment variables",
        "operationId": "listProjectEnvironmentVariable",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Environment Variable"
        ],
        "responses": {
          "200": {
            "description": "List project environment variables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariableResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Add an environment variable to the project",
        "description": "- Add an environment variable to the project.\n  - If the environment variable key already exists, then it will be replaced by the new one.\n  - If the environment variable value points toward an existing environment variable key, it will be considered as an alias.\n",
        "operationId": "createProjectEnvironmentVariable",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Environment Variable"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Added an environment variable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/environmentVariable/{environmentVariableId}": {
      "delete": {
        "summary": "Delete an environment variable from a project",
        "description": "- To delete an environment variable you must have the project user permission\n- You can't delete a BUILT_IN variable\n- If you delete a variable having override or alias, the associated override/alias will be deleted as well\n",
        "operationId": "deleteProjectEnvironmentVariable",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/environmentVariableId"
          }
        ],
        "tags": [
          "Project Environment Variable"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit an environment variable belonging to the project",
        "description": "- You can't edit a BUILT_IN variable\n- For an override, you can't edit the key\n- For an alias, you can't edit the value\n- An override can only have a scope lower to the variable it is overriding (hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION)\n",
        "operationId": "editProjectEnvironmentVariable",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/environmentVariableId"
          }
        ],
        "tags": [
          "Project Environment Variable"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentVariableEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited the environment variable value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariableResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/environmentVariable/{environmentVariableId}/override": {
      "post": {
        "summary": "Create an environment variable override at the project level",
        "description": "- Allows you to override at project level an environment variable that has a higher scope.\n- You only have to specify a value in the request body\n- The system will create a new environment variable at project level with the same key as the one corresponding to the variable id in the path\n- The response body will contain the newly created variable\n- Information regarding the overridden_variable will be exposed in the \"overridden_variable\" field of the newly created variable\n",
        "operationId": "createProjectEnvironmentVariableOverride",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/environmentVariableId"
          }
        ],
        "tags": [
          "Project Environment Variable"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Value"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create variable override",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Can't create an override on a higher scope. Overrides can only be created from one scope to a lower scope. Scope hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/environmentVariable/{environmentVariableId}/alias": {
      "post": {
        "summary": "Create an environment variable alias at the project level",
        "description": "- Allows you to add an alias at project level on an existing environment variable having higher scope, in order to customize its key.\n- You only have to specify a key in the request body\n- The system will create a new environment variable at project level with the same value as the one corresponding to the variable id in the path\n- The response body will contain the newly created variable\n- Information regarding the aliased_variable will be exposed in the \"aliased_variable\" field of the newly created variable\n- Only 1 alias level is allowed. You can't create an alias on an alias\n",
        "operationId": "createProjectEnvironmentVariableAlias",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/environmentVariableId"
          }
        ],
        "tags": [
          "Project Environment Variable"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Key"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create variable alias",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentVariableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Can't create an alias on a higher scope. Aliases can only be created from one scope to a lower scope. Scope hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/secret": {
      "get": {
        "summary": "List project secrets",
        "operationId": "listProjectSecrets",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Secret"
        ],
        "responses": {
          "200": {
            "description": "List project secrets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "summary": "Add a secret to the project",
        "description": "- Add a secret to the project.\n  - If the secret key already exists, then it will be replaced by the new one.\n  - If the secret value points toward an existing secret key, it will be considered as an alias.\n",
        "operationId": "createProjectSecret",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Project Secret"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Added a secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/secret/{secretId}": {
      "delete": {
        "summary": "Delete a secret from a project",
        "description": "- To delete a secret you must have the project user permission\n- You can't delete a BUILT_IN secret\n- If you delete a secret having override or alias, the associated override/alias will be deleted as well  operationId: deleteProjectSecret\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/secretId"
          }
        ],
        "tags": [
          "Project Secret"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit a secret belonging to the project",
        "description": "- You can't edit a BUILT_IN secret\n- For an override, you can't edit the key\n- For an alias, you can't edit the value\n- An override can only have a scope lower to the secret it is overriding (hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION)\n",
        "operationId": "editProjectSecret",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/secretId"
          }
        ],
        "tags": [
          "Project Secret"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecretEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited the secret value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/secret/{secretId}/override": {
      "post": {
        "summary": "Create a secret override at the project level",
        "description": "- Allows you to override at project level a secret that has a higher scope.\n- You only have to specify a value in the request body\n- The system will create a new secret at project level with the same key as the one corresponding to the secret id in the path\n- The response body will contain the newly created secret\n- Information regarding the overridden_secret will be exposed in the \"overridden_secret\" field of the newly created secret\n",
        "operationId": "createProjectSecretOverride",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/secretId"
          }
        ],
        "tags": [
          "Project Secret"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Value"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create secret override",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponse"
                }
              }
            }
          },
          "400": {
            "description": "Can't create an override on a higher scope. Overrides can only be created from one scope to a lower scope. Scope hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/secret/{secretId}/alias": {
      "post": {
        "summary": "Create a secret alias at the project level",
        "description": "- Allows you to add an alias at project level on an existing secret having higher scope, in order to customize its key.\n- You only have to specify a key in the request body\n- The system will create a new secret at project level with the same value as the one corresponding to the secret id in the path\n- The response body will contain the newly created secret\n- Information regarding the aliased_secret will be exposed in the \"aliased_secret\" field of the newly created secret\n- Only 1 alias level is allowed. You can't create an alias on an alias\n",
        "operationId": "createProjectSecretAlias",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "$ref": "#/components/parameters/secretId"
          }
        ],
        "tags": [
          "Project Secret"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Key"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create secret alias",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretResponse"
                }
              }
            }
          },
          "400": {
            "description": "Can't create an alias on a higher scope. Aliases can only be created from one scope to a lower scope. Scope hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/environment/status": {
      "get": {
        "summary": "List environments statuses",
        "description": "Returns a list of environments with only their id and status.",
        "operationId": "getProjectEnvironmentStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "Get status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/project/{projectId}/environment/stats": {
      "get": {
        "summary": "List total number of services for each environment of the project",
        "description": "Returns a list of environment ids, and for each its total numberof services",
        "operationId": "getProjectEnvironmentServiceNumber",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "Get number of services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentStatsResponseList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/environment/{environmentId}": {
      "get": {
        "summary": "Get environment by ID",
        "operationId": "getEnvironment",
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "tags": [
          "Environment Main Calls"
        ],
        "responses": {
          "200": {
            "description": "Get environment by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "summary": "Edit an environment",
        "description": "To edit an environment you must have the admin permission",
        "operationId": "editEnvironment",
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "tags": [
          "Environment Main Calls"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit an environment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "description": "Environment name within the project is already taken"
          }
        }
      },
      "delete": {
        "summary": "Delete an environment",
        "description": "To delete an environment you must have the admin permission",
        "operationId": "deleteEnvironment",
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "tags": [
          "Environment Main Calls"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204-deletion"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/environment/{environmentId}/status": {
      "get": {
        "summary": "Get environment status",
        "operationId": "getEnvironmentStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "tags": [
          "Environment Main Calls"
        ],
        "responses": {
          "200": {
            "description": "Get status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/environment/{environmentId}/deploymentRule": {
      "get": {
        "summary": "Get environment deployment rule",
        "operationId": "getEnvironmentDeploymentRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/environmentId"
          }
        ],
        "tags": [
          "Environment Deployment Rule"
        ],
        "responses": {
          "200": {
            "description": "Get deployment rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentDeploymentRuleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
[...]
