openapi: 3.0.0
info:
  contact:
    email: support+api+documentation@qovery.com
    name: Qovery Support Team
    url: https://discord.qovery.com
  description: |-
    - Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.
    - ℹ️ The API is in Beta and still in progress. Some endpoints are not available yet.

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  title: '[BETA] Qovery API'
  version: 1.0.0
  x-logo:
    url: https://raw.githubusercontent.com/Qovery/public-resources/master/qovery_new_logo_white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
paths:
  /organization:
    get:
      operationId: listOrganization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponseList'
          description: List organizations
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List user organizations
      tags:
      - Organization Main Calls
    post:
      operationId: createOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: Create organization
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Organization name is already taken
      summary: Create an organization
      tags:
      - Organization Main Calls
  /organization/{organizationId}:
    delete:
      description: To delete an organization you must have the admin permission
      operationId: deleteOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete an organization
      tags:
      - Organization Main Calls
    get:
      operationId: getOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: Get organization by ID
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization by ID
      tags:
      - Organization Main Calls
    put:
      description: To edit an organization you must have the admin permission
      operationId: editOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: Edit an organization
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Organization name is already taken
      summary: Edit an organization
      tags:
      - Organization Main Calls
  /organization/{organizationId}/member:
    get:
      operationId: getOrganizationMembers
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseList'
          description: Get members
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization members
      tags:
      - Members
  /organization/{organizationId}/member/{userId}:
    delete:
      operationId: deleteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Remove a member
      tags:
      - Members
  /organization/{organizationId}/inviteMember:
    get:
      operationId: getOrganizationInvitedMembers
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponseList'
          description: Get invited members
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get invited members
      tags:
      - Members
    post:
      operationId: postInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponse'
          description: User invited
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: User already invited
      summary: Invite someone in the organization
      tags:
      - Members
  /organization/{organizationId}/inviteMember/{inviteId}:
    delete:
      operationId: deleteInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Remove an invited member
      tags:
      - Members
    post:
      operationId: postAcceptInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invite ID
        explode: false
        in: path
        name: inviteId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponse'
          description: User invited
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: User already invited
      summary: Accept Invite in the organization
      tags:
      - Members
  /organization/{organizationId}/transferOwnership:
    post:
      operationId: postOrganizationTransferOwnership
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        "204":
          description: no content
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Transfer organization ownership to another user
      tags:
      - Members
  /organization/{organizationId}/currentCost:
    get:
      operationId: getOrganizationCurrentCost
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCurrentCostResponse'
          description: Get Cost
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization current cost
      tags:
      - Billing
  /organization/{organizationId}/creditCode:
    post:
      operationId: addCreditCode
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreditCodeRequest'
      responses:
        "200":
          description: add credit code
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add credit code
      tags:
      - Billing
  /organization/{organizationId}/cluster/{clusterId}/currentCost:
    get:
      description: |
        Get your cluster cost range. We are unable to give a precise cost of your infrastructure at the moment.
        But Qovery guarantees that the cost of your cluster will not exceed the max range.
      operationId: getClusterCurrentCost
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostRangeResponse'
          description: Get cluster cost
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get cluster current cost
      tags:
      - Billing
  /organization/{organizationId}/billingInfo:
    get:
      operationId: getOrganizationBillingInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfoResponse'
          description: Get Billing Info
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization billing info
      tags:
      - Billing
    put:
      operationId: editOrganizationBillingInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfoResponse'
          description: Edit billing info
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit Organization Billing Info
      tags:
      - Billing
  /organization/{organizationId}/billingStatus:
    get:
      description: |
        This endpoint returns a "is_valid" boolean field reflecting the billing status of the organization:
        - If true, the organization billing is valid
        - For Startup organization, it returns false if there is at least 1 invoice unpaid since 1 week
        - For Community organization, it returns false if there is no credit left
      operationId: getOrganizationBillingStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingStatus'
          description: Get Billing Status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization billing status
      tags:
      - Billing
  /organization/{organizationId}/invoice:
    get:
      operationId: listOrganizationInvoice
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponseList'
          description: List Invoices
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization invoices
      tags:
      - Billing
  /organization/{organizationId}/invoice/{invoiceId}:
    get:
      operationId: getOrganizationInvoice
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invoice ID
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
          description: Get Invoice
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization invoice
      tags:
      - Billing
  /organization/{organizationId}/invoice/{invoiceId}/download:
    get:
      description: This will return URL of the invoice PDF
      operationId: getOrganizationInvoicePDF
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invoice ID
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkResponse'
          description: Get invoice PDF
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get invoice link
      tags:
      - Billing
  /organization/{organizationId}/downloadInvoices:
    post:
      operationId: organizationDownloadAllInvoices
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: You will receive an email containing your invoices
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Download all invoices
      tags:
      - Billing
  /organization/{organizationId}/creditCard:
    get:
      operationId: listOrganizationCreditCards
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardResponseList'
          description: List cfredit cards
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization credit cards
      tags:
      - Billing
    post:
      operationId: addCreditCard
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCardRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardResponse'
          description: Add credit card
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add credit card
      tags:
      - Billing
  /organization/{organizationId}/creditCard/{creditCardId}:
    delete:
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credit Card ID
        explode: false
        in: path
        name: creditCardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete credit card
      tags:
      - Billing
  /organization/{organizationId}/project:
    get:
      operationId: listProject
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponseList'
          description: List projects
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List projects
      tags:
      - Projects
    post:
      operationId: createProject
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
          description: Create project
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Project name within the organization is already taken
      summary: Create a project
      tags:
      - Projects
  /organization/{organizationId}/project/stats:
    get:
      description: Returns a list of project ids, and for each its total numberof
        services and environments
      operationId: getOrganizationProjectStats
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStatsResponseList'
          description: Get number of services
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List total number of services and environments for each project of
        the organization
      tags:
      - Projects
  /organization/{organizationId}/cluster:
    get:
      operationId: listOrganizationCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponseList'
          description: List clusters
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization clusters
      tags:
      - Clusters
    post:
      operationId: createCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponse'
          description: Create cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a cluster
      tags:
      - Clusters
  /organization/{organizationId}/cluster/status:
    get:
      description: Returns a list of clusters with only their id and status.
      operationId: getOrganizationClusterStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatusResponseList'
          description: Get statuses
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List all clusters statuses
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}:
    delete:
      operationId: deleteCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a cluster
      tags:
      - Clusters
    put:
      operationId: editCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponse'
          description: Edited the cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a cluster
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/status:
    get:
      operationId: getClusterStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatusResponse'
          description: Get status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get cluster status
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/routingTable:
    get:
      description: Retrieve network routing table where each line corresponds to a
        route between a destination and a target.
      operationId: getRoutingTable
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoutingTableResponse'
          description: Routing table
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get routing table
      tags:
      - Clusters
    put:
      description: Edit routing table by returning updated table.
      operationId: editRoutingTable
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRoutingTableRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoutingTableResponse'
          description: Updated routing table
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit routing table
      tags:
      - Clusters
  /organization/{organizationId}/aws/credentials:
    get:
      operationId: listAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponse'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create AWS credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/aws/credentials/{credentialsId}:
    delete:
      operationId: deleteAWSCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of AWS credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponse'
          description: Edit a CustomDomain
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of AWS credentials
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/digitalOcean/credentials:
    get:
      operationId: listDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List DO credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponse'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create Digital Ocean credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/digitalOcean/credentials/{credentialsId}:
    delete:
      operationId: deleteDOCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of Digital Ocean credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponse'
          description: Edit a CustomDomain
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of Digital Ocean credentials
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/scaleway/credentials:
    get:
      operationId: listScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Scaleway credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalewayCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponse'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create Scaleway credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/scaleway/credentials/{credentialsId}:
    delete:
      operationId: deleteScalewayCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of Scaleway credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalewayCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponse'
          description: Edit a CustomDomain
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of Scaleway credentials
      tags:
      - Cloud Provider Credentials
  /cloudProvider:
    get:
      operationId: listCloudProvider
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudProviderResponseList'
          description: list cloud providers
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Cloud providers available
      tags:
      - Cloud Provider
  /aws/region:
    get:
      operationId: listAWSRegions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegionResponseList'
          description: list regions
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS regions
      tags:
      - Cloud Provider
  /aws/clusterFeature:
    get:
      operationId: listAWSFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterFeatureResponseList'
          description: list features available for AWS cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS features available
      tags:
      - Cloud Provider
  /digitalOcean/region:
    get:
      operationId: listDORegions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegionResponseList'
          description: list regions
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List DO regions
      tags:
      - Cloud Provider
  /digitalOcean/clusterFeature:
    get:
      operationId: listDOFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterFeatureResponseList'
          description: list features available for Digital Ocean cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List DO features available
      tags:
      - Cloud Provider
  /scaleway/region:
    get:
      operationId: listScalewayRegions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegionResponseList'
          description: list regions
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Scaleway regions
      tags:
      - Cloud Provider
  /scaleway/clusterFeature:
    get:
      operationId: listScalewayFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterFeatureResponseList'
          description: list features available for Scaleway cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Scaleway features available
      tags:
      - Cloud Provider
  /organization/{organizationId}/cluster/{clusterId}/cloudProviderInfo:
    get:
      operationId: getOrganizationCloudProviderInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCloudProviderInfoResponse'
          description: get cloud provider info and credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get cluster cloud provider info and credentials
      tags:
      - Clusters
    post:
      operationId: specifyClusterCloudProviderInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCloudProviderInfoRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCloudProviderInfoResponse'
          description: Create cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Specify cluster cloud provider info and credentials
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/isReady:
    get:
      operationId: getClusterReadinessStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterReadinessStatus'
          description: Get Cluster Readiness Status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Know if a cluster is ready to be deployed or not
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/deploy:
    post:
      description: allows to deploy a cluster
      operationId: deployCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatusResponse'
          description: Deploy cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Deploy a cluster
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/update:
    post:
      description: allows to update cluster version
      operationId: UpdateCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatusResponse'
          description: Update cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Update a cluster Version
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/stop:
    post:
      description: Cluster stop has been requester.
      operationId: StopCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatusResponse'
          description: Update cluster
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Cluster is already stopped or an operation is in progress
      summary: Stop cluster
      tags:
      - Clusters
  /project/{projectId}:
    delete:
      description: To delete a project you must have the admin permission
      operationId: deleteProject
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a project
      tags:
      - Project Main Calls
    get:
      operationId: getProject
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
          description: Get project by ID
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get project by ID
      tags:
      - Project Main Calls
    put:
      description: To edit a project you must have the admin permission
      operationId: editProject
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
          description: Edit a project
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Project name within the organization is already taken
      summary: Edit a project
      tags:
      - Project Main Calls
  /project/{projectId}/deploymentRule:
    get:
      operationId: listProjectDeploymentRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentRuleResponseList'
          description: Get deployment rules
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List project deployment rules
      tags:
      - Project Deployment Rule
    post:
      operationId: createDeploymentRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectDeploymentRuleRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentRuleResponse'
          description: Create deployment rule
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a deployment rule
      tags:
      - Project Deployment Rule
  /project/{projectId}/deploymentRule/{deploymentRuleId}:
    delete:
      operationId: deleteProjectDeploymentRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Deployment Rule ID
        explode: false
        in: path
        name: deploymentRuleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a project deployment rule
      tags:
      - Project Deployment Rule
    get:
      operationId: getProjectDeploymentRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Deployment Rule ID
        explode: false
        in: path
        name: deploymentRuleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentRuleResponse'
          description: Get deployment rule
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get project deployment rule
      tags:
      - Project Deployment Rule
    put:
      operationId: editProjectDeployemtnRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Deployment Rule ID
        explode: false
        in: path
        name: deploymentRuleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectDeploymentRuleRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentRuleResponse'
          description: Edit a project deployment rule
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Project name within the organization is already taken
      summary: Edit a project deployment rule
      tags:
      - Project Deployment Rule
  /project/{projectId}/environment:
    get:
      operationId: listEnvironment
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponseList'
          description: List environments
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List environments
      tags:
      - Environments
    post:
      operationId: createEnvironment
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
          description: Create environment
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Environment name within the project is already taken
      summary: Create an environment
      tags:
      - Environments
  /project/{projectId}/environmentVariable:
    get:
      operationId: listProjectEnvironmentVariable
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponseList'
          description: List project environment variables
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List project environment variables
      tags:
      - Project Environment Variable
    post:
      description: |
        - Add an environment variable to the project.
          - If the environment variable key already exists, then it will be replaced by the new one.
          - If the environment variable value points toward an existing environment variable key, it will be considered as an alias.
      operationId: createProjectEnvironmentVariable
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariableRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
          description: Added an environment variable
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add an environment variable to the project
      tags:
      - Project Environment Variable
  /project/{projectId}/environmentVariable/{environmentVariableId}:
    delete:
      description: |
        - To delete an environment variable you must have the project user permission
        - You can't delete a BUILT_IN variable
        - If you delete a variable having override or alias, the associated override/alias will be deleted as well
      operationId: deleteProjectEnvironmentVariable
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Environment Variable ID
        explode: false
        in: path
        name: environmentVariableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete an environment variable from a project
      tags:
      - Project Environment Variable
    put:
      description: |
        - You can't edit a BUILT_IN variable
        - For an override, you can't edit the key
        - For an alias, you can't edit the value
        - An override can only have a scope lower to the variable it is overriding (hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION)
      operationId: editProjectEnvironmentVariable
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Environment Variable ID
        explode: false
        in: path
        name: environmentVariableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariableEditRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
          description: Edited the environment variable value
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit an environment variable belonging to the project
      tags:
      - Project Environment Variable
  /project/{projectId}/environmentVariable/{environmentVariableId}/override:
    post:
      description: |
        - Allows you to override at project level an environment variable that has a higher scope.
        - You only have to specify a value in the request body
        - The system will create a new environment variable at project level with the same key as the one corresponding to the variable id in the path
        - The response body will contain the newly created variable
        - Information regarding the overridden_variable will be exposed in the "overridden_variable" field of the newly created variable
      operationId: createProjectEnvironmentVariableOverride
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Environment Variable ID
        explode: false
        in: path
        name: environmentVariableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Value'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
          description: Create variable override
        "400":
          description: Can't create an override on a higher scope. Overrides can only
            be created from one scope to a lower scope. Scope hierarchy is BUILT_IN
            > PROJECT > ENVIRONMENT > APPLICATION
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create an environment variable override at the project level
      tags:
      - Project Environment Variable
  /project/{projectId}/environmentVariable/{environmentVariableId}/alias:
    post:
      description: |
        - Allows you to add an alias at project level on an existing environment variable having higher scope, in order to customize its key.
        - You only have to specify a key in the request body
        - The system will create a new environment variable at project level with the same value as the one corresponding to the variable id in the path
        - The response body will contain the newly created variable
        - Information regarding the aliased_variable will be exposed in the "aliased_variable" field of the newly created variable
        - Only 1 alias level is allowed. You can't create an alias on an alias
      operationId: createProjectEnvironmentVariableAlias
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Environment Variable ID
        explode: false
        in: path
        name: environmentVariableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponse'
          description: Create variable alias
        "400":
          description: Can't create an alias on a higher scope. Aliases can only be
            created from one scope to a lower scope. Scope hierarchy is BUILT_IN >
            PROJECT > ENVIRONMENT > APPLICATION
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create an environment variable alias at the project level
      tags:
      - Project Environment Variable
  /project/{projectId}/secret:
    get:
      operationId: listProjectSecrets
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseList'
          description: List project secrets
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List project secrets
      tags:
      - Project Secret
    post:
      description: |
        - Add a secret to the project.
          - If the secret key already exists, then it will be replaced by the new one.
          - If the secret value points toward an existing secret key, it will be considered as an alias.
      operationId: createProjectSecret
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
          description: Added a secret
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add a secret to the project
      tags:
      - Project Secret
  /project/{projectId}/secret/{secretId}:
    delete:
      description: |
        - To delete a secret you must have the project user permission
        - You can't delete a BUILT_IN secret
        - If you delete a secret having override or alias, the associated override/alias will be deleted as well  operationId: deleteProjectSecret
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Secret ID
        explode: false
        in: path
        name: secretId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a secret from a project
      tags:
      - Project Secret
    put:
      description: |
        - You can't edit a BUILT_IN secret
        - For an override, you can't edit the key
        - For an alias, you can't edit the value
        - An override can only have a scope lower to the secret it is overriding (hierarchy is BUILT_IN > PROJECT > ENVIRONMENT > APPLICATION)
      operationId: editProjectSecret
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Secret ID
        explode: false
        in: path
        name: secretId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretEditRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
          description: Edited the secret value
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a secret belonging to the project
      tags:
      - Project Secret
  /project/{projectId}/secret/{secretId}/override:
    post:
      description: |
        - Allows you to override at project level a secret that has a higher scope.
        - You only have to specify a value in the request body
        - The system will create a new secret at project level with the same key as the one corresponding to the secret id in the path
        - The response body will contain the newly created secret
        - Information regarding the overridden_secret will be exposed in the "overridden_secret" field of the newly created secret
      operationId: createProjectSecretOverride
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Secret ID
        explode: false
        in: path
        name: secretId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Value'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
          description: Create secret override
        "400":
          description: Can't create an override on a higher scope. Overrides can only
            be created from one scope to a lower scope. Scope hierarchy is BUILT_IN
            > PROJECT > ENVIRONMENT > APPLICATION
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a secret override at the project level
      tags:
      - Project Secret
  /project/{projectId}/secret/{secretId}/alias:
    post:
      description: |
        - Allows you to add an alias at project level on an existing secret having higher scope, in order to customize its key.
        - You only have to specify a key in the request body
        - The system will create a new secret at project level with the same value as the one corresponding to the secret id in the path
        - The response body will contain the newly created secret
        - Information regarding the aliased_secret will be exposed in the "aliased_secret" field of the newly created secret
        - Only 1 alias level is allowed. You can't create an alias on an alias
      operationId: createProjectSecretAlias
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Secret ID
        explode: false
        in: path
        name: secretId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
          description: Create secret alias
        "400":
          description: Can't create an alias on a higher scope. Aliases can only be
            created from one scope to a lower scope. Scope hierarchy is BUILT_IN >
            PROJECT > ENVIRONMENT > APPLICATION
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a secret alias at the project level
      tags:
      - Project Secret
  /project/{projectId}/environment/status:
    get:
      description: Returns a list of environments with only their id and status.
      operationId: getProjectEnvironmentStatus
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: Get status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List environments statuses
      tags:
      - Environments
  /project/{projectId}/environment/stats:
    get:
      description: Returns a list of environment ids, and for each its total numberof
        services
      operationId: getProjectEnvironmentServiceNumber
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentStatsResponseList'
          description: Get number of services
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List total number of services for each environment of the project
      tags:
      - Environments
  /environment/{environmentId}:
    delete:
      description: To delete an environment you must have the admin permission
      operationId: deleteEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete an environment
      tags:
      - Environment Main Calls
    get:
      operationId: getEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
          description: Get environment by ID
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get environment by ID
      tags:
      - Environment Main Calls
    put:
      description: To edit an environment you must have the admin permission
      operationId: editEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
          description: Edit an environment
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Environment name within the project is already taken
      summary: Edit an environment
      tags:
      - Environment Main Calls
  /environment/{environmentId}/status:
    get:
      operationId: getEnvironmentStatus
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: Get status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get environment status
      tags:
      - Environment Main Calls
  /environment/{environmentId}/deploymentRule:
    get:
      operationId: getEnvironmentDeploymentRule
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentDeploymentRuleResponse'
          description: Get deployment rule
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get environment deployment rule
      tags:
      - Environment Deployment Rule
  /environment/{environmentId}/deploymentRule/{deploymentRuleId}:
    put:
      operationId: editEnvironmentDeploymentRule
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Deployment Rule ID
        explode: false
        in: path
        name: deploymentRuleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentDeploymentRuleEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentDeploymentRuleResponse'
          description: Edit environment deployment rule
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit an environment deployment rule
      tags:
      - Environment Deployment Rule
  /environment/{environmentId}/deploy:
    post:
      description: This will deploy all the services of this environment to their
        latest version.
      operationId: deployEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: Deploy environment
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Operation is in progress
      summary: Deploy environment
      tags:
      - Environment Actions
  /environment/{environmentId}/stop:
    post:
      operationId: stopEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: Environment stop has been requested
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Environment is already stopped or an operation is in progress
      summary: Stop environment
      tags:
      - Environment Actions
  /environment/{environmentId}/restart:
    post:
      operationId: restartEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentRestartRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: Environment restart has been requested
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Operation is in progress
      summary: Restart environment
      tags:
      - Environment Actions
  /environment/{environmentId}/clone:
    post:
      description: You must provide a name. This will create a new environment, with
        the same configuration, and same applications and databases. Database data
        is not cloned.
      operationId: cloneEnvironment
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponse'
          description: Environment clone has been requested
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Operation is in progress
      summary: Clone environment
      tags:
      - Environment Actions
  /environment/{environmentId}/application:
    get:
      operationId: listApplication
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: return (or not) results that must be updated
        explode: true
        in: query
        name: toUpdate
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponseList'
          description: List applications
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List applications
      tags:
      - Applications
    post:
      operationId: createApplication
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Create application
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Application name within the environment is already taken
      summary: Create an application
      tags:
      - Applications
  /environment/{environmentId}/application/status:
    get:
      description: Returns a list of applications with only their id and status.
      operationId: getEnvironmentApplicationStatus
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceObjectStatusResponseList'
          description: Get status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List all environment applications statuses
      tags:
      - Applications
  /environment/{environmentId}/application/instance:
    get:
      operationId: getEnvironmentApplicationCurrentInstance
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentApplicationsInstanceResponseList'
          description: Know current resource consumption for each application of the
            environment
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List running instances with CPU and RAM usage for each application
      tags:
      - Applications
  /environment/{environmentId}/application/currentStorage:
    get:
      operationId: getEnvironmentApplicationCurrentStorage
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentApplicationsStorageResponseList'
          description: Current storage disk usage
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List current storage disk usage for each application
      tags:
      - Applications
  /environment/{environmentId}/application/currentScale:
    get:
      description: Returns min, max, and running number of instances for each application
      operationId: getEnvironmentApplicationCurrentScale
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentApplicationsCurrentScaleResponseList'
          description: list applications with current scaling
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List current scaling information for each application
      tags:
      - Applications
  /environment/{environmentId}/application/supportedLanguage:
    get:
      description: Returns list of languages supported by Buildpacks.
      operationId: getEnvironmentApplicationSupportedLanguages
      parameters:
      - description: Environment ID
        explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: uuid
[...]
