openapi: 3.0.0
info:
  contact:
    email: support+api+documentation@qovery.com
    name: Qovery Product Team
    url: https://www.qovery.com
  description: |
    - Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.
    - ℹ️ The API is stable and still in development.
  title: Qovery API
  version: 1.0.3
  x-logo:
    url: https://raw.githubusercontent.com/Qovery/public-resources/master/qovery_new_logo_white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Account
- name: Account Info
- name: Admin
- name: Application
- name: Application Actions
- name: Application Configuration
- name: Application Database
- name: Application Deployment Restriction
- name: Application Deployment History
- name: Application Environment Variable
- name: Application Event
- name: Application Logs
- name: Application Main Calls
- name: Application Metrics
- name: Application Secret
- name: Applications
- name: Container
- name: Container Actions
- name: Container Configuration
- name: Container Database
- name: Container Deployment History
- name: Container Environment Variable
- name: Container Logs
- name: Container Main Calls
- name: Container Metrics
- name: Container Registry
- name: Container Secret
- name: Containers
- name: Deployment Stage Main Calls
- name: Job
- name: Job Actions
- name: Job Configuration
- name: Job Database
- name: Job Deployment Restriction
- name: Job Deployment History
- name: Job Environment Variable
- name: Job Logs
- name: Job Main Calls
- name: Job Metrics
- name: Job Registry
- name: Job Secret
- name: Jobs
- name: Helm
- name: Helm Actions
- name: Helm Configuration
- name: Helm Database
- name: Helm Deployment Restriction
- name: Helm Deployment History
- name: Helm Environment Variable
- name: Helm Logs
- name: Helm Main Calls
- name: Helm Metrics
- name: Helm Repository
- name: Helm Secret
- name: Helms
- name: Backups
- name: Billing
- name: Cloud Provider
- name: Cloud Provider Credentials
- name: Clusters
- name: Custom Domain
- name: Container Custom Domain
- name: Database
- name: Database Actions
- name: Database Application
- name: Database Container
- name: Database Deployment History
- name: Database Event
- name: Database Main Calls
- name: Database Metrics
- name: Databases
- name: Environment
- name: Environment Actions
- name: Environment Deployment History
- name: Environment Deployment Rule
- name: Environment Logs
- name: Environment Main Calls
- name: Environment Secret
- name: Environment Variable
- name: Environments
- name: Git
- name: Github App
- name: Git repositories
- name: Members
- name: Organization
- name: Organization Account Git Repositories
- name: Organization Main Calls
- name: Organization Custom Role
- name: Organization Api Token
- name: Organization Webhook
- name: Organization Event
- name: Project
- name: Project Deployment Rule
- name: Project Environment Variable
- name: Project Main Calls
- name: Project Secret
- name: Projects
- name: Referral & Rewards
- name: Container Registries
- name: Helm Repositories
- name: User Sign Up
- name: Variable Main Calls
paths:
  /organization:
    get:
      operationId: listOrganization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponseList'
          description: List organizations
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List user organizations
      tags:
      - Organization Main Calls
    post:
      operationId: createOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Create organization
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Organization name is already taken
      summary: Create an organization
      tags:
      - Organization Main Calls
  /organization/{organizationId}:
    delete:
      description: To delete an organization you must have the admin permission
      operationId: deleteOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete an organization
      tags:
      - Organization Main Calls
    get:
      operationId: getOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Get organization by ID
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization by ID
      tags:
      - Organization Main Calls
    put:
      description: To edit an organization you must have the admin permission
      operationId: editOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Edit an organization
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Organization name is already taken
      summary: Edit an organization
      tags:
      - Organization Main Calls
  /organization/{organizationId}/apiToken:
    get:
      description: List organization api tokens
      operationId: listOrganizationApiTokens
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiTokenResponseList'
          description: List organization api tokens
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization api tokens
      tags:
      - Organization Api Token
    post:
      description: Create an organization api token. You can use the generated token
        to interact in a programmatic way with our API.
      operationId: createOrganizationApiToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationApiTokenCreateRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiTokenCreate'
          description: Organization api token created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Organization Api Token name is already taken
      summary: Create an organization api token
      tags:
      - Organization Api Token
  /organization/{organizationId}/apiToken/{apiTokenId}:
    delete:
      description: Delete organization api token
      operationId: deleteOrganizationApiToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization Api Token ID
        explode: false
        in: path
        name: apiTokenId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete organization api token
      tags:
      - Organization Api Token
  /organization/{organizationId}/availableRole:
    get:
      description: List organization available roles
      operationId: listOrganizationAvailableRoles
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAvailableRoleList'
          description: List organization available roles
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization available roles
      tags:
      - Organization Main Calls
  /organization/{organizationId}/gitToken:
    get:
      description: List organization git tokens
      operationId: listOrganizationGitTokens
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTokenResponseList'
          description: List organization git tokens
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization git tokens
      tags:
      - Organization Main Calls
    post:
      description: Create a new git token to be used as a git provider by a service
      operationId: createGitToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitTokenRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTokenResponse'
          description: Git token created
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a git token
      tags:
      - Organization Main Calls
  /organization/{organizationId}/gitToken/{gitTokenId}:
    delete:
      operationId: deleteGitToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Git Token ID
        explode: false
        in: path
        name: gitTokenId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a git token
      tags:
      - Organization Main Calls
    get:
      description: Get organization git token
      operationId: getOrganizationGitToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Git Token ID
        explode: false
        in: path
        name: gitTokenId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTokenResponse'
          description: Get organization git token
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization git token
      tags:
      - Organization Main Calls
    put:
      operationId: editGitToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Git Token ID
        explode: false
        in: path
        name: gitTokenId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTokenResponse'
          description: Git token edited
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a git token
      tags:
      - Organization Main Calls
  /organization/{organizationId}/gitToken/{gitTokenId}/associatedServices:
    get:
      description: Get organization git tokens associated services
      operationId: getGitTokenAssociatedServices
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Git Token ID
        explode: false
        in: path
        name: gitTokenId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitTokenAssociatedServicesResponseList'
          description: Get organization git token associated services
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization git token associated services
      tags:
      - Organization Main Calls
  /organization/{organizationId}/member:
    delete:
      operationId: deleteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteMember_request'
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Remove a member
      tags:
      - Members
    get:
      operationId: getOrganizationMembers
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseList'
          description: Get members
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization members
      tags:
      - Members
    put:
      description: Edit an organization member role
      operationId: editOrganizationMemberRole
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberRoleUpdateRequest'
      responses:
        "200":
          description: Edit an organization member role
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit an organization member role
      tags:
      - Members
  /organization/{organizationId}/inviteMember:
    get:
      operationId: getOrganizationInvitedMembers
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponseList'
          description: Get invited members
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get invited members
      tags:
      - Members
    post:
      operationId: postInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMember'
          description: User invited
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: User already invited
      summary: Invite someone in the organization
      tags:
      - Members
  /organization/{organizationId}/inviteMember/{inviteId}:
    delete:
      operationId: deleteInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invite ID
        explode: false
        in: path
        name: inviteId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Remove an invited member
      tags:
      - Members
    get:
      operationId: getMemberInvitation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invite ID
        explode: false
        in: path
        name: inviteId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMember'
          description: Get member invitation
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get member invitation
      tags:
      - Members
    post:
      operationId: postAcceptInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invite ID
        explode: false
        in: path
        name: inviteId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMember'
          description: User invited
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: User already invited
      summary: Accept Invite in the organization
      tags:
      - Members
  /organization/{organizationId}/transferOwnership:
    post:
      operationId: postOrganizationTransferOwnership
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        "204":
          description: no content
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Transfer organization ownership to another user
      tags:
      - Members
  /organization/{organizationId}/currentCost:
    get:
      operationId: getOrganizationCurrentCost
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCurrentCost'
          description: Get Cost
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization current cost
      tags:
      - Billing
  /organization/{organizationId}/creditCode:
    post:
      operationId: addCreditCode
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreditCodeRequest'
      responses:
        "200":
          description: add credit code
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add credit code
      tags:
      - Billing
  /organization/{organizationId}/changePlan:
    post:
      operationId: changePlan
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationChangePlanRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: plan has been successfully changed
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Change organization plan
      tags:
      - Billing
  /organization/{organizationId}/cluster/{clusterId}/currentCost:
    get:
      description: |
        Get your cluster cost range. We are unable to give a precise cost of your infrastructure at the moment.
        But Qovery guarantees that the cost of your cluster will not exceed the max range.
      operationId: getClusterCurrentCost
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostRange'
          description: Get cluster cost
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get cluster current cost
      tags:
      - Billing
  /organization/{organizationId}/billingInfo:
    get:
      operationId: getOrganizationBillingInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfo'
          description: Get Billing Info
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization billing info
      tags:
      - Billing
    put:
      operationId: editOrganizationBillingInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfo'
          description: Edit billing info
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit Organization Billing Info
      tags:
      - Billing
  /organization/{organizationId}/billingStatus:
    get:
      description: |
        This endpoint returns a "is_valid" boolean field reflecting the billing status of the organization:
        - If true, the organization billing is valid
        - For Startup organization, it returns false if there is at least 1 invoice unpaid since 1 week
        - For Community organization, it returns false if there is no credit left
      operationId: getOrganizationBillingStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingStatus'
          description: Get Billing Status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization billing status
      tags:
      - Billing
  /organization/{organizationId}/invoice:
    get:
      operationId: listOrganizationInvoice
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponseList'
          description: List Invoices
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization invoices
      tags:
      - Billing
  /organization/{organizationId}/invoice/{invoiceId}:
    get:
      operationId: getOrganizationInvoice
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invoice ID
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Get Invoice
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization invoice
      tags:
      - Billing
  /organization/{organizationId}/invoice/{invoiceId}/download:
    get:
      description: This will return URL of the invoice PDF
      operationId: getOrganizationInvoicePDF
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invoice ID
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Get invoice PDF
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get invoice link
      tags:
      - Billing
  /organization/{organizationId}/downloadInvoices:
    post:
      operationId: organizationDownloadAllInvoices
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: You will receive an email containing your invoices
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Download all invoices
      tags:
      - Billing
  /organization/{organizationId}/creditCard:
    get:
      operationId: listOrganizationCreditCards
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardResponseList'
          description: List cfredit cards
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization credit cards
      tags:
      - Billing
    post:
      operationId: addCreditCard
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCardRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCard'
          description: Add credit card
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add credit card
      tags:
      - Billing
  /organization/{organizationId}/creditCard/{creditCardId}:
    delete:
      operationId: deleteCreditCard
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credit Card ID
        explode: false
        in: path
        name: creditCardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete credit card
      tags:
      - Billing
  /organization/{organizationId}/project:
    get:
      operationId: listProject
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponseList'
          description: List projects
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List projects
      tags:
      - Projects
    post:
      operationId: createProject
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Create project
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Project name within the organization is already taken
      summary: Create a project
      tags:
      - Projects
  /organization/{organizationId}/project/stats:
    get:
      description: "Returns a list of project ids, and for each its total numberof\
        \ services and environments"
      operationId: getOrganizationProjectStats
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStatsResponseList'
          description: Get number of services
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List total number of services and environments for each project of
        the organization
      tags:
      - Projects
  /organization/{organizationId}/cluster:
    get:
      operationId: listOrganizationCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponseList'
          description: List clusters
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization clusters
      tags:
      - Clusters
    post:
      operationId: createCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Create cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a cluster
      tags:
      - Clusters
  /organization/{organizationId}/cluster/status:
    get:
      description: Returns a list of clusters with only their id and status.
      operationId: getOrganizationClusterStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatusResponseList'
          description: Get statuses
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List all clusters statuses
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}:
    delete:
      operationId: deleteCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: deleteMode
        required: false
        schema:
          $ref: '#/components/schemas/ClusterDeleteMode'
        style: form
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a cluster
      tags:
      - Clusters
    put:
      operationId: editCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Edited the cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a cluster
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/status:
    get:
      operationId: getClusterStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatusGet'
          description: Get status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get cluster status
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/advancedSettings:
    get:
      description: |
        Get the list and values of the advanced settings of the cluster.
        Default values for each setting are available in [our documentation](https://hub.qovery.com/docs/using-qovery/configuration/cluster-advanced-settings/)
      operationId: getClusterAdvancedSettings
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterAdvancedSettings'
          description: Advanced settings list
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get advanced settings
      tags:
      - Clusters
    put:
      description: Edit advanced settings by returning table of advanced settings.
      operationId: editClusterAdvancedSettings
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterAdvancedSettings'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterAdvancedSettings'
          description: Updated advanced settings
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit advanced settings
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/routingTable:
    get:
      description: Retrieve network routing table where each line corresponds to a
        route between a destination and a target.
      operationId: getRoutingTable
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoutingTable'
          description: Routing table
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get routing table
      tags:
      - Clusters
    put:
      description: Edit routing table by returning updated table.
      operationId: editRoutingTable
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRoutingTableRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoutingTable'
          description: Updated routing table
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit routing table
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/logs:
    get:
      description: List Cluster Logs
      operationId: listClusterLogs
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterLogsResponseList'
          description: list cluster logs
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Cluster Logs
      tags:
      - Clusters
  /organization/{organizationId}/aws/credentials:
    get:
      operationId: listAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create AWS credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/aws/credentials/{credentialsId}:
    delete:
      operationId: deleteAWSCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of AWS credentials
      tags:
      - Cloud Provider Credentials
    get:
      operationId: getAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Get a set of AWS credentials
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get a set of AWS credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Edit a set of AWS credentials
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of AWS credentials
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/digitalOcean/credentials:
    get:
      operationId: listDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List DO credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create Digital Ocean credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/digitalOcean/credentials/{credentialsId}:
    delete:
      operationId: deleteDOCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of Digital Ocean credentials
      tags:
      - Cloud Provider Credentials
    get:
      operationId: getDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Get a set of Digital Ocean credentials
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get a set of Digital Ocean credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Edit a set of Digital Ocean credentials
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of Digital Ocean credentials
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/scaleway/credentials:
    get:
      operationId: listScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Scaleway credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalewayCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create Scaleway credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/scaleway/credentials/{credentialsId}:
    delete:
      operationId: deleteScalewayCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of Scaleway credentials
      tags:
      - Cloud Provider Credentials
    get:
      operationId: getScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Get a set of Scaleway credentials
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get a set of Scaleway credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalewayCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Edit a set of Scaleway credentials
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of Scaleway credentials
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/github/connect:
    post:
      operationId: organizationGithubAppConnect
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationGithubAppConnectRequest'
      responses:
        "200":
          description: Github App connected
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Connect a github account to an organization
      tags:
      - Github App
  /organization/{organizationId}/github/disconnect:
    delete:
      operationId: organizationGithubAppDisconnect
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Indicates if the github app should be disconnected despite github
          applications linked to organization
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: Github App disconnected
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Disconnect a github account from an organization
      tags:
      - Github App
  /organization/{organizationId}/account/gitAuthProvider:
    get:
      operationId: getOrganizationGitProviderAccount
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitAuthProviderResponseList'
          description: Get account
        "401":
          description: Access token is missing or invalid
      summary: Get git provider accounts
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/github/repository:
    get:
      operationId: getOrganizationGithubRepositories
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The git token id that must be used for the application
        explode: true
        in: query
        name: gitTokenId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryResponseList'
          description: Get github repositories
        "401":
          description: Access token is missing or invalid
      summary: Get github repositories of the connected user
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/github/repository/branch:
    get:
      operationId: getOrganizationGithubRepositoryBranches
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the repository where to retrieve the branches
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The git token id that must be used for the application
        explode: true
        in: query
        name: gitTokenId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryBranchResponseList'
          description: Get github repository branches
        "401":
          description: Access token is missing or invalid
      summary: Get github branches of the specified repository
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/gitlab/repository:
    get:
      operationId: getOrganizationGitlabRepositories
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The git token id that must be used for the application
        explode: true
        in: query
        name: gitTokenId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryResponseList'
          description: Get gitlab repositories
        "401":
          description: Access token is missing or invalid
      summary: Get gitlab repositories of the connected user
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/gitlab/repository/branch:
    get:
      operationId: getOrganizationGitlabRepositoryBranches
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the repository to retrieve the branches
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The git token id that must be used for the application
        explode: true
        in: query
        name: gitTokenId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryBranchResponseList'
          description: Get gitlab repository branches
        "401":
          description: Access token is missing or invalid
      summary: Get gitlab branches of the specified repository
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/bitbucket/repository:
    get:
      operationId: getOrganizationBitbucketRepositories
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The git token id that must be used for the application
        explode: true
        in: query
        name: gitTokenId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryResponseList'
          description: Get bitbucket repositories
        "401":
          description: Access token is missing or invalid
      summary: Get bitbucket repositories of the connected user
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/bitbucket/repository/branch:
    get:
      operationId: getOrganizationBitbucketRepositoryBranches
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the repository where to retrieve the branches
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The git token id that must be used for the application
        explode: true
        in: query
        name: gitTokenId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryBranchResponseList'
          description: Get bitbucket repository branches
        "401":
          description: Access token is missing or invalid
      summary: Get bitbucket branches of the specified repository
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/webhook:
    get:
      description: List organization webhooks
      operationId: listOrganizationWebHooks
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationWebhookResponseList'
          description: List organization webhooks
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization webhooks
      tags:
      - Organization Webhook
    post:
      description: Create an organization webhook.
      operationId: createOrganizationWebhook
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationWebhookCreateRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationWebhookCreateResponse'
          description: Organization webhook created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
      summary: Create an organization webhook
      tags:
      - Organization Webhook
  /organization/{organizationId}/webhook/{webhookId}:
    delete:
      description: Delete organization webhook
      operationId: deleteOrganizationWebhook
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Webhook ID
        explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete organization webhook
      tags:
      - Organization Webhook
    get:
      description: Get an Organization webhook
      operationId: getOrganizationWebhook
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Webhook ID
        explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationWebhookResponse'
          description: Get organization webhook
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get an Organization webhook
      tags:
      - Organization Webhook
    put:
      description: Edit an organization webhook
      operationId: editOrganizationWebhook
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Webhook ID
        explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationWebhookCreateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationWebhookCreateResponse'
          description: Edit an organization webhook
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit an organization webhook
      tags:
      - Organization Webhook
  /organization/{organizationId}/customRole:
    get:
      description: List organization custom roles
      operationId: listOrganizationCustomRoles
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCustomRoleList'
          description: List organization custom roles
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization custom roles
      tags:
      - Organization Custom Role
    post:
      description: Create an organization custom role
      operationId: createOrganizationCustomRole
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCustomRoleCreateRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCustomRole'
          description: Organization custom role created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
      summary: Create an organization custom role
      tags:
      - Organization Custom Role
  /organization/{organizationId}/customRole/{customRoleId}:
    delete:
      description: Delete organization custom role
      operationId: deleteOrganizationCustomRole
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Custom Role ID
        explode: false
        in: path
        name: customRoleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete organization custom role
      tags:
      - Organization Custom Role
    get:
      description: 'Get an organization custom role '
      operationId: getOrganizationCustomRole
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Custom Role ID
        explode: false
        in: path
        name: customRoleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCustomRole'
          description: 'Get an organization custom role '
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: 'Get an organization custom role '
      tags:
      - Organization Custom Role
    put:
      description: Edit an organization custom role
      operationId: editOrganizationCustomRole
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Custom Role ID
        explode: false
        in: path
        name: customRoleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCustomRoleUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCustomRole'
          description: Edit an organization custom role
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit an organization custom role
      tags:
      - Organization Custom Role
  /organization/{organizationId}/events:
    get:
      description: Get all events inside the organization
      operationId: getOrganizationEvents
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The number of events to display in the current page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          nullable: true
          type: number
        style: form
      - description: "Display events triggered since this timestamp.  \nA range of\
          \ date can be specified by using `from-timestamp` with `to-timestamp`\n\
          The format is a timestamp with nano precision\n"
        explode: true
        in: query
        name: fromTimestamp
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Display events triggered before this timestamp.  \nA range of\
          \ date can be specified by using `to-timestamp` with `from-timestamp`\n\
          The format is a timestamp with nano precision\n"
        explode: true
        in: query
        name: toTimestamp
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: |
          Token used to fetch the next page results
          The format is a timestamp with nano precision
        explode: true
        in: query
        name: continueToken
        required: false
        schema:
          type: string
        style: form
      - description: |
          Token used to fetch the previous page results
          The format is a timestamp with nano precision
        explode: true
        in: query
        name: stepBackToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: eventType
        required: false
        schema:
          $ref: '#/components/schemas/OrganizationEventType'
        style: form
      - explode: true
        in: query
        name: targetType
        required: false
        schema:
          $ref: '#/components/schemas/OrganizationEventTargetType'
        style: form
      - description: "The target resource id to search.  \nMust be specified with\
          \ the corresponding `target_type`\n"
        explode: true
        in: query
        name: targetId
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: subTargetType
        required: false
        schema:
          $ref: '#/components/schemas/OrganizationEventSubTargetType'
        style: form
      - description: Information about the owner of the event (user name / apitoken
          / automatic action)
        explode: true
        in: query
        name: triggeredBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: origin
        required: false
        schema:
          $ref: '#/components/schemas/OrganizationEventOrigin'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationEventResponseList'
          description: Get organization events
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get all events inside the organization
      tags:
      - Organization Event
  /organization/{organizationId}/targets:
    get:
      description: Get available event targets to filter events
      operationId: getOrganizationEventTargets
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Display targets available since this timestamp.  \nA range of\
          \ date can be specified by using `from-timestamp` with `to-timestamp`\n\
          The format is a timestamp with nano precision\n"
        explode: true
        in: query
        name: fromTimestamp
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Display targets triggered before this timestamp.  \nA range\
          \ of date can be specified by using `to-timestamp` with `from-timestamp`\n\
          The format is a timestamp with nano precision\n"
        explode: true
        in: query
        name: toTimestamp
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: eventType
        required: false
        schema:
          $ref: '#/components/schemas/OrganizationEventType'
        style: form
      - explode: true
        in: query
        name: targetType
        required: false
        schema:
          $ref: '#/components/schemas/OrganizationEventTargetType'
        style: form
      - description: Information about the owner of the event (user name / apitoken
          / automatic action)
        explode: true
        in: query
        name: triggeredBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: origin
        required: false
        schema:
          $ref: '#/components/schemas/OrganizationEventOrigin'
        style: form
      - description: Mandatory when requesting an environment or a service
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Mandatory when requesting a service
        explode: true
        in: query
        name: environmentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationEventTargetResponseList'
          description: Get organization event targets
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get available event targets to filter events
      tags:
      - Organization Event
  /cloudProvider:
    get:
      operationId: listCloudProvider
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudProviderResponseList'
          description: list cloud providers
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Cloud providers available
      tags:
      - Cloud Provider
  /aws/region:
    get:
      operationId: listAWSRegions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegionResponseList'
          description: list regions
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS regions
      tags:
      - Cloud Provider
  /aws/clusterFeature:
    get:
      operationId: listAWSFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterFeatureResponseList'
          description: list features available for AWS cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS features available
      tags:
      - Cloud Provider
  /aws/instanceType:
    get:
      operationId: listAWSInstanceType
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterInstanceTypeResponseList'
          description: list the instance types available for AWS cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS available instance types
      tags:
      - Cloud Provider
  /aws/managedDatabase/type:
    get:
      operationId: listAWSManagedDatabaseType
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedDatabaseTypeResponseList'
          description: list AWS available managed database types
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS available managed database types
      tags:
      - Cloud Provider
  /aws/managedDatabase/instanceType/{region}/{databaseType}:
    get:
      operationId: listAWSManagedDatabaseInstanceType
      parameters:
      - description: region name
        explode: false
        in: path
        name: region
        required: true
        schema:
          example: us-east-2
          type: string
        style: simple
      - description: Database type
        explode: false
        in: path
        name: databaseType
        required: true
        schema:
          example: MYSQL
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedDatabaseInstanceTypeResponseList'
          description: list AWS available managed database instance types
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS available managed database instance types
      tags:
      - Cloud Provider
  /aws/ec2/instanceType/{region}:
    get:
      operationId: listAWSEc2InstanceType
      parameters:
      - description: region name
        explode: false
        in: path
        name: region
        required: true
        schema:
          example: us-east-2
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterInstanceTypeResponseList'
          description: list the instance types available for AWS Ec2 by region
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS EC2 available instance types
      tags:
      - Cloud Provider
  /aws/eks/instanceType/{region}:
    get:
      operationId: listAWSEKSInstanceType
      parameters:
      - description: region name
        explode: false
        in: path
        name: region
        required: true
        schema:
          example: us-east-2
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterInstanceTypeResponseList'
          description: list the instance types available for AWS EKS by region
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS EKS available instance types
      tags:
      - Cloud Provider
  /digitalOcean/region:
    get:
      operationId: listDORegions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegionResponseList'
          description: list regions
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
[...]
