openapi: 3.0.0
info:
  contact:
    email: support+api+documentation@qovery.com
    name: Qovery Product Team
    url: https://www.qovery.com
  description: |
    - Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.
    - ℹ️ The API is stable and still in development.
  title: Qovery API
  version: 1.0.3
  x-logo:
    url: https://raw.githubusercontent.com/Qovery/public-resources/master/qovery_new_logo_white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
tags:
- name: Account
- name: Account Info
- name: Admin
- name: Application
- name: Application Actions
- name: Application Configuration
- name: Application Database
- name: Application Deployment Restriction
- name: Application Deployment History
- name: Application Environment Variable
- name: Application Event
- name: Application Logs
- name: Application Main Calls
- name: Application Metrics
- name: Application Secret
- name: Applications
- name: Container
- name: Container Actions
- name: Container Configuration
- name: Container Database
- name: Container Deployment Restriction
- name: Container Deployment History
- name: Container Environment Variable
- name: Container Event
- name: Container Logs
- name: Container Main Calls
- name: Container Metrics
- name: Container Registry
- name: Container Secret
- name: Containers
- name: Backups
- name: Billing
- name: Cloud Provider
- name: Cloud Provider Credentials
- name: Clusters
- name: Custom Domain
- name: Container Custom Domain
- name: Database
- name: Database Actions
- name: Database Application
- name: Database Container
- name: Database Event
- name: Database Main Calls
- name: Database Metrics
- name: Databases
- name: Dependency
- name: Container Dependency
- name: Environment
- name: Environment Actions
- name: Environment Deployment History
- name: Environment Deployment Rule
- name: Environment Logs
- name: Environment Main Calls
- name: Environment Secret
- name: Environment Variable
- name: Environments
- name: Git
- name: Github App
- name: Git repositories
- name: Logical Database
- name: Members
- name: Organization
- name: Organization Account Git Repositories
- name: Organization Main Calls
- name: Organization Api Token
- name: Organization Webhook
- name: Project
- name: Project Deployment Rule
- name: Project Environment Variable
- name: Project Main Calls
- name: Project Secret
- name: Projects
- name: Referral & Rewards
- name: Container Registries
- name: User Sign Up
paths:
  /organization:
    get:
      operationId: listOrganization
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponseList'
          description: List organizations
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List user organizations
      tags:
      - Organization Main Calls
    post:
      operationId: createOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Create organization
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Organization name is already taken
      summary: Create an organization
      tags:
      - Organization Main Calls
  /organization/{organizationId}:
    delete:
      description: To delete an organization you must have the admin permission
      operationId: deleteOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete an organization
      tags:
      - Organization Main Calls
    get:
      operationId: getOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Get organization by ID
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization by ID
      tags:
      - Organization Main Calls
    put:
      description: To edit an organization you must have the admin permission
      operationId: editOrganization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: Edit an organization
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Organization name is already taken
      summary: Edit an organization
      tags:
      - Organization Main Calls
  /organization/{organizationId}/apiToken:
    get:
      description: List organization api tokens
      operationId: listOrganizationApiTokens
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiTokenResponseList'
          description: List organization api tokens
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization api tokens
      tags:
      - Organization Api Token
    post:
      description: Create an organization api token. You can use the generated token
        to interact in a programmatic way with our API.
      operationId: createOrganizationApiToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationApiTokenCreateRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiTokenCreate'
          description: Organization api token created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Organization Api Token name is already taken
      summary: Create an organization api token
      tags:
      - Organization Api Token
  /organization/{organizationId}/apiToken/{apiTokenId}:
    delete:
      description: Delete organization api token
      operationId: deleteOrganizationApiToken
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization Api Token ID
        explode: false
        in: path
        name: apiTokenId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete organization api token
      tags:
      - Organization Api Token
  /organization/{organizationId}/member:
    get:
      operationId: getOrganizationMembers
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponseList'
          description: Get members
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization members
      tags:
      - Members
  /organization/{organizationId}/member/{userId}:
    delete:
      operationId: deleteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Remove a member
      tags:
      - Members
  /organization/{organizationId}/inviteMember:
    get:
      operationId: getOrganizationInvitedMembers
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMemberResponseList'
          description: Get invited members
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get invited members
      tags:
      - Members
    post:
      operationId: postInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMember'
          description: User invited
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: User already invited
      summary: Invite someone in the organization
      tags:
      - Members
  /organization/{organizationId}/inviteMember/{inviteId}:
    delete:
      operationId: deleteInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Remove an invited member
      tags:
      - Members
    post:
      operationId: postAcceptInviteMember
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invite ID
        explode: false
        in: path
        name: inviteId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteMember'
          description: User invited
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: User already invited
      summary: Accept Invite in the organization
      tags:
      - Members
  /organization/{organizationId}/transferOwnership:
    post:
      operationId: postOrganizationTransferOwnership
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        "204":
          description: no content
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Transfer organization ownership to another user
      tags:
      - Members
  /organization/{organizationId}/currentCost:
    get:
      operationId: getOrganizationCurrentCost
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCurrentCost'
          description: Get Cost
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization current cost
      tags:
      - Billing
  /organization/{organizationId}/creditCode:
    post:
      operationId: addCreditCode
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreditCodeRequest'
      responses:
        "200":
          description: add credit code
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add credit code
      tags:
      - Billing
  /organization/{organizationId}/cluster/{clusterId}/currentCost:
    get:
      description: |
        Get your cluster cost range. We are unable to give a precise cost of your infrastructure at the moment.
        But Qovery guarantees that the cost of your cluster will not exceed the max range.
      operationId: getClusterCurrentCost
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostRange'
          description: Get cluster cost
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get cluster current cost
      tags:
      - Billing
  /organization/{organizationId}/billingInfo:
    get:
      operationId: getOrganizationBillingInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfo'
          description: Get Billing Info
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization billing info
      tags:
      - Billing
    put:
      operationId: editOrganizationBillingInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingInfoRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfo'
          description: Edit billing info
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit Organization Billing Info
      tags:
      - Billing
  /organization/{organizationId}/billingStatus:
    get:
      description: "This endpoint returns a \"is_valid\" boolean field reflecting\
        \ the billing status of the organization:\n- If true, the organization billing\
        \ is valid\n- For Startup organization, it returns false if there is at least\
        \ 1 invoice unpaid since 1 week\n- For Community organization, it returns\
        \ false if there is no credit left\n"
      operationId: getOrganizationBillingStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingStatus'
          description: Get Billing Status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization billing status
      tags:
      - Billing
  /organization/{organizationId}/invoice:
    get:
      operationId: listOrganizationInvoice
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponseList'
          description: List Invoices
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization invoices
      tags:
      - Billing
  /organization/{organizationId}/invoice/{invoiceId}:
    get:
      operationId: getOrganizationInvoice
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invoice ID
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Get Invoice
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get organization invoice
      tags:
      - Billing
  /organization/{organizationId}/invoice/{invoiceId}/download:
    get:
      description: This will return URL of the invoice PDF
      operationId: getOrganizationInvoicePDF
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Invoice ID
        explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Get invoice PDF
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get invoice link
      tags:
      - Billing
  /organization/{organizationId}/downloadInvoices:
    post:
      operationId: organizationDownloadAllInvoices
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: You will receive an email containing your invoices
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Download all invoices
      tags:
      - Billing
  /organization/{organizationId}/creditCard:
    get:
      operationId: listOrganizationCreditCards
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCardResponseList'
          description: List cfredit cards
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization credit cards
      tags:
      - Billing
    post:
      operationId: addCreditCard
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCardRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCard'
          description: Add credit card
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add credit card
      tags:
      - Billing
  /organization/{organizationId}/creditCard/{creditCardId}:
    delete:
      operationId: deleteCreditCard
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credit Card ID
        explode: false
        in: path
        name: creditCardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete credit card
      tags:
      - Billing
  /organization/{organizationId}/project:
    get:
      operationId: listProject
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponseList'
          description: List projects
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List projects
      tags:
      - Projects
    post:
      operationId: createProject
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Create project
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Project name within the organization is already taken
      summary: Create a project
      tags:
      - Projects
  /organization/{organizationId}/project/stats:
    get:
      description: "Returns a list of project ids, and for each its total numberof\
        \ services and environments"
      operationId: getOrganizationProjectStats
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStatsResponseList'
          description: Get number of services
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List total number of services and environments for each project of
        the organization
      tags:
      - Projects
  /organization/{organizationId}/cluster:
    get:
      operationId: listOrganizationCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterResponseList'
          description: List clusters
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization clusters
      tags:
      - Clusters
    post:
      operationId: createCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Create cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a cluster
      tags:
      - Clusters
  /organization/{organizationId}/cluster/status:
    get:
      description: Returns a list of clusters with only their id and status.
      operationId: getOrganizationClusterStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatusResponseList'
          description: Get statuses
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List all clusters statuses
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}:
    delete:
      operationId: deleteCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a cluster
      tags:
      - Clusters
    put:
      operationId: editCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: Edited the cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a cluster
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/status:
    get:
      operationId: getClusterStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatus'
          description: Get status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get cluster status
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/routingTable:
    get:
      description: Retrieve network routing table where each line corresponds to a
        route between a destination and a target.
      operationId: getRoutingTable
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoutingTable'
          description: Routing table
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get routing table
      tags:
      - Clusters
    put:
      description: Edit routing table by returning updated table.
      operationId: editRoutingTable
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterRoutingTableRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRoutingTable'
          description: Updated routing table
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit routing table
      tags:
      - Clusters
  /organization/{organizationId}/aws/credentials:
    get:
      operationId: listAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create AWS credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/aws/credentials/{credentialsId}:
    delete:
      operationId: deleteAWSCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of AWS credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editAWSCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Edit a CustomDomain
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of AWS credentials
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/digitalOcean/credentials:
    get:
      operationId: listDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List DO credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create Digital Ocean credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/digitalOcean/credentials/{credentialsId}:
    delete:
      operationId: deleteDOCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of Digital Ocean credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editDOCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Edit a CustomDomain
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of Digital Ocean credentials
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/scaleway/credentials:
    get:
      operationId: listScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
          description: list credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Scaleway credentials
      tags:
      - Cloud Provider Credentials
    post:
      operationId: createScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalewayCredentialsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Credentials created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create Scaleway credentials set
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/scaleway/credentials/{credentialsId}:
    delete:
      operationId: deleteScalewayCredentials
      parameters:
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a set of Scaleway credentials
      tags:
      - Cloud Provider Credentials
    put:
      operationId: editScalewayCredentials
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credentials ID
        explode: false
        in: path
        name: credentialsId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalewayCredentialsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
          description: Edit a CustomDomain
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a set of Scaleway credentials
      tags:
      - Cloud Provider Credentials
  /organization/{organizationId}/github/connect:
    post:
      operationId: organizationGithubAppConnect
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationGithubAppConnectRequest'
      responses:
        "200":
          description: Github App connected
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Connect a github account to an organization
      tags:
      - Github App
  /organization/{organizationId}/github/disconnect:
    delete:
      operationId: organizationGithubAppDisconnect
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Indicates if the github app should be disconnected despite github
          applications linked to organization
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: Github App disconnected
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Disconnect a github account from an organization
      tags:
      - Github App
  /organization/{organizationId}/account/gitAuthProvider:
    get:
      operationId: getOrganizationGitProviderAccount
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitAuthProviderResponseList'
          description: Get account
        "401":
          description: Access token is missing or invalid
      summary: Get git provider accounts
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/github/repository:
    get:
      operationId: getOrganizationGithubRepositories
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryResponseList'
          description: Get github repositories
        "401":
          description: Access token is missing or invalid
      summary: Get github repositories of the connected user
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/github/repository/branch:
    get:
      operationId: getOrganizationGithubRepositoryBranches
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the repository where to retrieve the branches
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryBranchResponseList'
          description: Get github repository branches
        "401":
          description: Access token is missing or invalid
      summary: Get github branches of the specified repository
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/gitlab/repository:
    get:
      operationId: getOrganizationGitlabRepositories
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryResponseList'
          description: Get gitlab repositories
        "401":
          description: Access token is missing or invalid
      summary: Get gitlab repositories of the connected user
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/gitlab/repository/branch:
    get:
      operationId: getOrganizationGitlabRepositoryBranches
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the repository to retrieve the branches
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryBranchResponseList'
          description: Get gitlab repository branches
        "401":
          description: Access token is missing or invalid
      summary: Get gitlab branches of the specified repository
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/bitbucket/repository:
    get:
      operationId: getOrganizationBitbucketRepositories
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryResponseList'
          description: Get bitbucket repositories
        "401":
          description: Access token is missing or invalid
      summary: Get bitbucket repositories of the connected user
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/account/bitbucket/repository/branch:
    get:
      operationId: getOrganizationBitbucketRepositoryBranches
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the repository where to retrieve the branches
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoryBranchResponseList'
          description: Get bitbucket repository branches
        "401":
          description: Access token is missing or invalid
      summary: Get bitbucket branches of the specified repository
      tags:
      - Organization Account Git Repositories
  /organization/{organizationId}/webhook:
    get:
      description: List organization webhooks
      operationId: listOrganizationWebHooks
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listOrganizationWebHooks_200_response'
          description: List organization webhooks
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization webhooks
      tags:
      - Organization Webhook
    post:
      description: Create an organization webhook.
      operationId: createOrganizationWebhook
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createOrganizationWebhook_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOrganizationWebhook_201_response'
          description: Organization webhook created
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
      summary: Create an organization webhook
      tags:
      - Organization Webhook
  /organization/{organizationId}/webhook/{webhookId}:
    delete:
      description: Delete organization webhook
      operationId: deleteOrganizationWebhook
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete organization webhook
      tags:
      - Organization Webhook
    get:
      description: Get an Organization webhook
      operationId: getOrganizationWebhook
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Webhook ID
        explode: false
        in: path
        name: webhookId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createOrganizationWebhook_201_response'
          description: Get organization webhook
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get an Organization webhook
      tags:
      - Organization Webhook
    put:
      description: Edit an organization webhook
      operationId: editOrganizationWebhook
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/paths/~1organization~1%7BorganizationId%7D~1webhook/post/requestBody/content/application~1json/schema'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/paths/~1organization~1%7BorganizationId%7D~1webhook/post/responses/201/content/application~1json/schema'
          description: Edit an organization webhook
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit an organization webhook
      tags:
      - Organization Webhook
  /cloudProvider:
    get:
      operationId: listCloudProvider
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudProviderResponseList'
          description: list cloud providers
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Cloud providers available
      tags:
      - Cloud Provider
  /aws/region:
    get:
      operationId: listAWSRegions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegionResponseList'
          description: list regions
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS regions
      tags:
      - Cloud Provider
  /aws/clusterFeature:
    get:
      operationId: listAWSFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterFeatureResponseList'
          description: list features available for AWS cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS features available
      tags:
      - Cloud Provider
  /aws/instanceType:
    get:
      operationId: listAWSInstanceType
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterInstanceTypeResponseList'
          description: list the instance types available for AWS cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List AWS available instance types
      tags:
      - Cloud Provider
  /digitalOcean/region:
    get:
      operationId: listDORegions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegionResponseList'
          description: list regions
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List DO regions
      tags:
      - Cloud Provider
  /digitalOcean/clusterFeature:
    get:
      operationId: listDOFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterFeatureResponseList'
          description: list features available for Digital Ocean cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List DO features available
      tags:
      - Cloud Provider
  /digitalOcean/instanceType:
    get:
      operationId: listDOInstanceType
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterInstanceTypeResponseList'
          description: list the instance types available for Digital Ocean cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List DO available instance types
      tags:
      - Cloud Provider
  /scaleway/region:
    get:
      operationId: listScalewayRegions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterRegionResponseList'
          description: list regions
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Scaleway regions
      tags:
      - Cloud Provider
  /scaleway/clusterFeature:
    get:
      operationId: listScalewayFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterFeatureResponseList'
          description: list features available for Scaleway cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Scaleway features available
      tags:
      - Cloud Provider
  /scaleway/instanceType:
    get:
      operationId: listScalewayInstanceType
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterInstanceTypeResponseList'
          description: list the instance types available for Scaleway cloud provider
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List Scaleway available instance types
      tags:
      - Cloud Provider
  /organization/{organizationId}/cluster/{clusterId}/cloudProviderInfo:
    get:
      operationId: getOrganizationCloudProviderInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCloudProviderInfo'
          description: get cloud provider info and credentials
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get cluster cloud provider info and credentials
      tags:
      - Clusters
    post:
      operationId: specifyClusterCloudProviderInfo
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterCloudProviderInfoRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCloudProviderInfo'
          description: Create cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Specify cluster cloud provider info and credentials
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/isReady:
    get:
      operationId: getClusterReadinessStatus
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterReadinessStatus'
          description: Get Cluster Readiness Status
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Know if a cluster is ready to be deployed or not
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/deploy:
    post:
      description: allows to deploy a cluster
      operationId: deployCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatus'
          description: Deploy cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Deploy a cluster
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/update:
    post:
      description: allows to update cluster version
      operationId: UpdateCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatus'
          description: Update cluster
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Update a cluster Version
      tags:
      - Clusters
  /organization/{organizationId}/cluster/{clusterId}/stop:
    post:
      description: Cluster stop has been requester.
      operationId: StopCluster
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Cluster ID
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterStatus'
          description: Update cluster
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Cluster is already stopped or an operation is in progress
      summary: Stop cluster
      tags:
      - Clusters
  /organization/{organizationId}/containerRegistry:
    get:
      operationId: listContainerRegistry
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listContainerRegistry_200_response'
          description: List container registries
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List organization container registries
      tags:
      - Container Registries
    post:
      operationId: createContainerRegistry
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerRegistryRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerRegistryResponse'
          description: Create a Container Registry
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a container registry
      tags:
      - Container Registries
  /organization/{organizationId}/containerRegistry/{containerRegistryId}:
    delete:
      operationId: deleteContainerRegistry
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a container registry
      tags:
      - Container Registries
    put:
      operationId: editContainerRegistry
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Container Registry ID
        explode: false
        in: path
        name: containerRegistryId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerRegistryRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerRegistryResponse'
          description: Edited the container registry
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a container registry
      tags:
      - Container Registry
  /organization/{organizationId}/availableContainerRegistry:
    get:
      description: List supported container registries by Qovery and get the mandatory
        authentification configuration.
      operationId: listAvailableContainerRegistry
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organizationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableContainerRegistryResponse'
          description: supported container registries
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List supported container registries
      tags:
      - Container Registries
  /project/{projectId}:
    delete:
      description: To delete a project you must have the admin permission
      operationId: deleteProject
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a project
      tags:
      - Project Main Calls
    get:
      operationId: getProject
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Get project by ID
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get project by ID
      tags:
      - Project Main Calls
    put:
      description: To edit a project you must have the admin permission
      operationId: editProject
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Edit a project
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Project name within the organization is already taken
      summary: Edit a project
      tags:
      - Project Main Calls
  /project/{projectId}/deploymentRule:
    get:
      description: List project deployment rules
      operationId: listProjectDeploymentRules
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentRuleResponseList'
          description: Get project deployment rules
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List project deployment rules
      tags:
      - Project Deployment Rule
    post:
      description: Create a deployment rule
      operationId: createDeploymentRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectDeploymentRuleRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentRule'
          description: Create deployment rule
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create a deployment rule
      tags:
      - Project Deployment Rule
  /project/{projectId}/deploymentRule/{deploymentRuleId}:
    delete:
      description: Delete a project deployment rule
      operationId: deleteProjectDeploymentRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Deployment Rule ID
        explode: false
        in: path
        name: deploymentRuleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete a project deployment rule
      tags:
      - Project Deployment Rule
    get:
      description: Get a project deployment rule
      operationId: getProjectDeploymentRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Deployment Rule ID
        explode: false
        in: path
        name: deploymentRuleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentRule'
          description: Get project deployment rule
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Get a project deployment rule
      tags:
      - Project Deployment Rule
    put:
      description: Edit a project deployment rule
      operationId: editProjectDeployemtnRule
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Deployment Rule ID
        explode: false
        in: path
        name: deploymentRuleId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectDeploymentRuleRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentRule'
          description: Edit a project deployment rule
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit a project deployment rule
      tags:
      - Project Deployment Rule
  /project/{projectId}/deploymentRule/order:
    put:
      description: Update deployment rules priority order
      operationId: updateDeploymentRulesPriorityOrder
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectDeploymentRulesPriorityOrderRequest'
      responses:
        "200":
          description: Update deployment rules priority order
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Update deployment rules priority order
      tags:
      - Project Deployment Rule
  /project/{projectId}/environment:
    get:
      operationId: listEnvironment
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentResponseList'
          description: List environments
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List environments
      tags:
      - Environments
    post:
      operationId: createEnvironment
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Create environment
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
        "409":
          description: Environment name within the project is already taken
      summary: Create an environment
      tags:
      - Environments
  /project/{projectId}/environmentVariable:
    get:
      operationId: listProjectEnvironmentVariable
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariableResponseList'
          description: List project environment variables
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: List project environment variables
      tags:
      - Project Environment Variable
    post:
      description: "- Add an environment variable to the project.\n  - If the environment\
        \ variable key already exists, then it will be replaced by the new one.\n\
        \  - If the environment variable value points toward an existing environment\
        \ variable key, it will be considered as an alias.\n"
      operationId: createProjectEnvironmentVariable
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariableRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
          description: Added an environment variable
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Add an environment variable to the project
      tags:
      - Project Environment Variable
  /project/{projectId}/environmentVariable/{environmentVariableId}:
    delete:
      description: "- To delete an environment variable you must have the project\
        \ user permission\n- You can't delete a BUILT_IN variable\n- If you delete\
        \ a variable having override or alias, the associated override/alias will\
        \ be deleted as well\n"
      operationId: deleteProjectEnvironmentVariable
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Environment Variable ID
        explode: false
        in: path
        name: environmentVariableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Delete an environment variable from a project
      tags:
      - Project Environment Variable
    put:
      description: "- You can't edit a BUILT_IN variable\n- For an override, you can't\
        \ edit the key\n- For an alias, you can't edit the value\n- An override can\
        \ only have a scope lower to the variable it is overriding (hierarchy is BUILT_IN\
        \ > PROJECT > ENVIRONMENT > APPLICATION)\n"
      operationId: editProjectEnvironmentVariable
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Environment Variable ID
        explode: false
        in: path
        name: environmentVariableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariableEditRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
          description: Edited the environment variable value
        "400":
          description: Bad request
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Edit an environment variable belonging to the project
      tags:
      - Project Environment Variable
  /project/{projectId}/environmentVariable/{environmentVariableId}/override:
    post:
      description: |
        - Allows you to override at project level an environment variable that has a higher scope.
        - You only have to specify a value in the request body
        - The system will create a new environment variable at project level with the same key as the one corresponding to the variable id in the path
        - The response body will contain the newly created variable
        - Information regarding the overridden_variable will be exposed in the "overridden_variable" field of the newly created variable
      operationId: createProjectEnvironmentVariableOverride
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Environment Variable ID
        explode: false
        in: path
        name: environmentVariableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Value'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
          description: Create variable override
        "400":
          description: Can't create an override on a higher scope. Overrides can only
            be created from one scope to a lower scope. Scope hierarchy is BUILT_IN
            > PROJECT > ENVIRONMENT > APPLICATION
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create an environment variable override at the project level
      tags:
      - Project Environment Variable
  /project/{projectId}/environmentVariable/{environmentVariableId}/alias:
    post:
      description: "- Allows you to add an alias at project level on an existing environment\
        \ variable having higher scope, in order to customize its key.\n- You only\
        \ have to specify a key in the request body\n- The system will create a new\
        \ environment variable at project level with the same value as the one corresponding\
        \ to the variable id in the path\n- The response body will contain the newly\
        \ created variable\n- Information regarding the aliased_variable will be exposed\
        \ in the \"aliased_variable\" field of the newly created variable\n- Only\
        \ 1 alias level is allowed. You can't create an alias on an alias\n"
      operationId: createProjectEnvironmentVariableAlias
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Environment Variable ID
        explode: false
        in: path
        name: environmentVariableId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentVariable'
          description: Create variable alias
        "400":
          description: Can't create an alias on a higher scope. Aliases can only be
            created from one scope to a lower scope. Scope hierarchy is BUILT_IN >
            PROJECT > ENVIRONMENT > APPLICATION
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
      summary: Create an environment variable alias at the project level
      tags:
      - Project Environment Variable
  /project/{projectId}/secret:
    get:
      operationId: listProjectSecrets
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponseList'
          description: List project secrets
        "401":
          description: Access token is missing or invalid
        "403":
          description: Access forbidden
        "404":
          description: Resource not found
[...]
